{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 3 versions"
                    ]
                }
            }
        ]
	],
	"compact": true,
    "plugins": [
        "transform-class-properties",
        "transform-async-to-generator"
    ]
}
