.catalog {
	.searchResultsTime,
	.sub,
	.pages,
	.pager {
		display: none;
	}
	
	.shelf {
		ul {
			@extend %flex-justify-content-flex-start;
			@extend %flex-wrap-wrap;
			@extend %display-flex;
		}

		.shelf {
			li {
				min-width: 293px;
				display: inline-block;
			}
		}
	}

	.orderBy {
		.select {
			display: flex;
		}
		select {
			color: $c-black;
			background-color: #f8f7f5;
			border: 0;
			padding: 10px 0;
			@extend %font-family-unitedsans;
			font-weight: 800;
			text-transform: uppercase;
			height: 40px;
		}
		option {
			@extend %font-family-unitedsans;
			font-weight: 800;
		}
	}

	.section__inner {
		@extend %display-flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.bread-crumb ul {
		display: flex;

		li {
			margin: 0 5px;

			a {
				color: #757575;

				&:hover {
					@extend %color-primary;
				}
			}

			&::after {
				content: '|';
				display: inline-block;
				margin-left: 5px;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			&.last {
				strong {
					font-weight: 400;
				}

				a {
					@extend %color-primary;
				}
			}
		}
	}

	.btn-load-more {
		display: flex;
		margin: 10px auto;
		width: 200px;
		border-color: #9e9e9e;
		text-transform: uppercase;
		font-size: 18px;
	}
	.pager.top {
		& + .pages {
			display: none;
			+ #returnToTop {
				display: none;
			}
		}
	}
	.btn-load-more {
		display: none;
	}
	.pages {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			padding: 0;
			margin: 0;
			width: 45px !important;
			height: 45px;
			display: flex !important;
			justify-content: center;
			align-items: center;
			border: 2px solid black;
			position: relative;
			z-index: 9;
			overflow: hidden;
			&::after {
				content: '';
				position: absolute;
				z-index: 8;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				border: 1px solid black;
				border-radius: 9px;
				box-shadow: 0 0 0px 4px black;
			}
		}
		li.pgEmpty {
		}
		li.first,
		li.last {
			display: none !important;
		}
		li.previous,
		li.next {
			font-size: 0;
			&::before {
				content: '';
				position: absolute;
				margin: auto;
				width: 8px;
				height: 8px;
				display: block;
				color: #e75300;
				border-top: 2px solid #e75300;
				border-right: 2px solid #e75300;
				transform: rotate(45deg);
			}
		}
		li.previous {
			&::before {
				transform: rotate(-135deg);
			}
		}
		li.page-number {
			font-weight: bold !important;
		}
		.pgCurrent {
			background: $c-orange;
			color: $c-white;
			border: none;
			&::after {
				display: none;
			}
		}
	}
	#returnToTop {
		display: flex;
		text-transform: uppercase;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
		.text2 {
			margin-left: 5px;
		}
		& > * {
			font-weight: 900;
			color: #6c645a;
		}
		.arrowToTop {
			width: 10px;
			height: 10px;
			display: block;
			color: #e75300;
			border-top: 2px solid #e75300;
			border-right: 2px solid #e75300;
			transform: rotate(-45deg);
			margin-left: 30px;
		}
		a {
			display: flex;
			align-items: center;
			min-width: 200px;
			padding: 15px 30px;
			border: 4px solid #dadad8;
			justify-content: center;
			@extend %font-family-unitedsans;
		}
	}
	.btnOpenFilter {
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			font-weight: 800;
			margin: 0;
		}
		p:first-of-type {
			margin-right: 5px;
			display: none;
			@include atMedium {
				display: block;
			}
		}
		.icon-filter {
			margin-bottom: 3px;
		}
	}
}
