body.login {
	.vtexIdUI {
		width: 505px;
		min-height: 405px;
		padding: 30px;
		@media (max-width: 800px) {
			width: 90%;
			padding: 10px;
			margin: 0 !important;
			top: 20%;
			left: 50%;
			transform: translate(-50%, 0);
			right: 0;
			bottom: 0;
			margin: 0 auto;
		}
	}
	.vtexIdUI-page.vtexIdUI-page-active {
		@media (max-width: 800px) {
			left: 0;
			right: 0;
		}
	}
	.vtexIdUI-page.ng-scope.vtexIdUI-page-active {
		@include atMedium {
			width: 435px;
		}
	}
	.vtexIdUI-page-active .vtexIdUI-heading {
		@media (max-width: 800px) {
			width: 100%;
			text-align: center;
		}
	}
	.vtexIdUI .modal-header {
		background-color: white;
		border: 0;
	}
	.vtexIdUI .vtexIdUI-heading::before {
		content: "minha conta";
		text-transform: uppercase;
		color: #e75300;
		font-size: 30px;
		font-weight: 800;
		text-transform: uppercase;
		display: block;
		// @extend %font-family-unitedsans;
		margin-bottom: 5px;
	}

	.vtexIdUI .vtexIdUI-heading {
		color: #372527;
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: -0.1px;
		// @extend %font-family-unitedsans;
	}

	.vtexIdUI .vtexIdUI-providers-list li .btn {
		border-radius: 0;
		width: 100%;
		text-align: center;
		display: block;
		height: 60px;
		background-image: none;
		background-color: #e75300;
		box-shadow: none;
		span {
			text-align: center;
			display: block;
		}
		&#loginWithUserAndPasswordBtn {
			padding: 20px;
		}
		@media (max-width: 800px) {
			width: 100%;
			margin: 0 auto;
		}
		i {
			display: none;
		}
		span {
			color: #ffffff;
			font-size: 14px;
			font-weight: 700;
			@media (max-width: 800px) {
				font-size: 14px;
			}
		}
	}
	.vtexIdUI #vtexIdUI-facebook {
		border-radius: 0;
		width: 100%;
		text-align: center;
		display: block;
		height: 60px;
		background-image: none;
		background-color: #e75300;
		box-shadow: none;
		// &::before {
		// 	content: "\e603";
		// 	display: block;
		// 	@media (max-width: 800px) {
		// 		margin: 0 10px;
		// 	}
		// }
		span {
			text-align: center;
			display: inline-block;
			vertical-align: top;
		}
		&#loginWithUserAndPasswordBtn {
			padding: 20px;
		}
		@media (max-width: 800px) {
			width: 100%;
			margin: 0 auto;
		}
		i {
			display: none;
		}
		span {
			color: #ffffff;
			font-size: 14px;
			font-weight: 700;
			@media (max-width: 800px) {
				font-size: 14px;
			}
		}
	}

	.vtexIdUI-others-send-email span {
		margin-top: 0;
		margin-left: -30px;
		&::before {
			display: inline-block;
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="17" viewBox="0 0 22 17"><defs><path id="blu1a" d="M67 359.553v12.094a1.55 1.55 0 0 1-1.545 1.553H48.548A1.552 1.552 0 0 1 47 371.647v-12.094c0-.858.695-1.553 1.548-1.553h16.907A1.55 1.55 0 0 1 67 359.553zm-18.827-.865l8.867 8.844 8.79-8.844zm-.485 13.325l6.41-6.448-6.41-6.389zm18.143.498l-6.384-6.422-2.163 2.173a.34.34 0 0 1-.485 0l-2.212-2.204-6.414 6.453zm.495-13.335l-6.394 6.42 6.394 6.417z"/></defs><g><g transform="translate(-46 -357)"><use fill="#fff" fill-opacity="0" stroke="#fff" stroke-miterlimit="50" stroke-width=".3" xlink:href="#blu1a"/></g></g></svg>');
			margin: 0 20px;
			vertical-align: sub;
			@media (max-width: 800px) {
				margin: 0 10px;
			}
		}
	}
	.vtexIdUI .modal-header .close {
		display: block !important;
		background: transparent !important;
		color: #e75300 !important;
		z-index: 9999999 !important;
		font-size: 32px;
		font-weight: lighter;
		top: -10px;
	}

	.modal-footer {
		background: #fff;
		width: 94%;
		margin: 0 auto;
		button#classicLoginBtn, button#sendAccessKeyBtn, button#confirmLoginAccessKeyBtn, button#tryChangePswdBtn, button#changePswdBtn {
			border: none;
			box-shadow: none;
			border-radius: 2px;
			background: #e75300;
			padding: 10px 30px;
		}
		a {
			color:  #372527;
			font-size: 15px;
			font-weight: 500;
			text-decoration: none;
			i {
				font-size: 12px;
			}
		}
	}
	div#vtexIdUI-classic-login {
		.modal-body {
			a {
				color:#372527;
				font-size: 12px;
				font-weight: 500;
				padding-bottom: 6px;
			}
		}
	}

	div#vtexIdUI-change-pswd .modal-header .vtexIdUI-header.row-fluid {
		display: none;
	}

	#vtexIdUI-facebook {
		display: none !important;
	}
}
