

.modalLogin {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	.cadastroSucesso {
		h3 {
			color: #e75300;
			font-size: 21px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 0 50px;
		}
		p {
			padding: 10px 0;
			font-size: 16px;
			text-transform: uppercase;
			padding-left: 50px;
		}
	}
	#createcliente .contentForm {
		margin-top: 40px;
		overflow: auto;
		height: 300px;
	}
}

.modalLogin__optioncad ul {
	background: #f0eeec;
	padding-top: 3px;
	li {
		display: inline-block;
		vertical-align: middle;
		width: 49.5%;
		text-align: center;
		a {
			display: block;
			width: 100%;
			color: #6a6157;
			font-size: 17px;
			padding: 11px 0;
			&.active {
				color: #e75300;
				background: #fff;
			}
		}
	}
}

.modalLogin__opacity {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modalLogin__content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.modalLogin__content__top {
	position: absolute;
	top: 10px;
	right: 20px;
}

.modalLogin__box {
	background: #fff;
	z-index: 999;
	padding: 30px 0 50px;
	position: relative;

	@media only screen and (min-width: 320px) {
		width: 100%;
	}

	@media only screen and (min-width: 768px) {
		width: 515px;
	}
}

.modalLogin__close {
	color: #e75300;
	font-family: Arial;
	font-weight: 100;
	font-size: 30px;
	cursor: pointer;
}

.modalLogin .contentForm__item {
	.sendImage {
		margin-top: 20px;
		> label {
			margin-bottom: 5px;
			display: block;
		}
	}
	.sendImage__btn {
		margin-bottom: 30px;
		input {
			display: none;
		}
		label {
			display: block;
			width: 270px;
			margin: 0 auto;
			text-align: center;
			padding: 10px 0;
			border: 3px solid #e7e3e0;
			color: #e75300;
			font-size: 16px;
			font-weight: 800;
			text-transform: uppercase;
		}
		span {
			font-size: 12px;
			margin-top: 20px;
			display: block;
		}
	}
	.sendImage__content {
		border: 2px dashed #fddfb2;
		text-align: center;
		padding: 0 10px;
		p {
			color: #6a6157;
			font-family: Roboto;
			font-size: 13px;
			line-height: 18px;
			padding: 10px 0;
		}
	}
}

.modalLogin__middle {
	h2 {
		color: #e75300;
		font-size: 30px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 0 50px;
	}
	p.subTitle {
		color: #372527;
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: -0.1px;
		margin-top: 10px;
		padding: 0 50px;
	}
	.btnOrange,
	.btnBorder {
		width: 270px;
		padding: 14px 0 11px;
		background-color: #e75300;
		color: #ffffff;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
	}
	.btnOrange {
		margin-bottom: 10px;
	}
	.btnBorder {
		background: transparent;
		border: 3px solid #bab1a8;
		color: #6a6157;
	}
	.btnCotent {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-align: center;
		align-items: center;
		.createaccount,
		.hasaccount {
			width: 315px;
			-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			background-color: #e75300;
			color: #ffffff;
			font-size: 16px;
			font-weight: 300;
			line-height: 25px;
			text-transform: none;
			text-decoration: none;
			text-align: center;
			padding: 15px 0 11px;
			text-transform: uppercase;
			-webkit-transition: 0.4s ease;
			-o-transition: 0.4s ease;
			transition: 0.4s ease;
		}
		.createaccount {
			margin-bottom: 15px;
			&:hover {
				background-color: #f17129;
			}
		}
		.hasaccount {
			background-color: #bab1a8;
			&:hover {
				background-color: #a59d96;
			}
		}
	}
	.contentForm {
		margin-bottom: 50px;
		padding: 0 50px;
	}
	.contentForm__item {
		margin-bottom: 15px;
		&.hasSub {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-align: center;
			align-items: center;
		}
	}
	.contentForm {
		.item {
			padding-top: 10px;
		}
		.not-regitered--red {
			background: #ffe1e1;
			width: 100%;
			text-align: center;
			color: #e75300;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			padding: 1px 10px;
			display: block;
			margin-top: 20px;
		}
		label {
			color: #372527;
			font-family: "Roboto";
			font-size: 14px;
			font-weight: 500;
			line-height: 25px;
		}
		input,
		select {
			width: 100%;
			border: 2px solid #dadad8;
			padding: 11px;
		}
		#senha1 {
			width: 95%;
		}
	}
	.resultCnpj {
		padding: 0 50px 40px;
		.not-regitered--red {
			background: #ffe1e1;
			width: 100%;
			text-align: center;
			color: #e75300;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			padding: 1px 10px;
			display: block;
			margin-top: 20px;
		}
	}
	.resultCnpj__title {
		color: #e75300;
		font-size: 18px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
		letter-spacing: 0.4px;
		text-align: center;
	}
	.resultCnpj__info--item {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		p {
			&.dataresult {
				width: 60%;
				color: #6a6157;
				font-family: Roboto;
				font-size: 16px;
				font-weight: 300;
				line-height: 34px;
				margin: 0;
			}
			&.typeItem {
				width: 31%;
				color: #211e14;
				text-align: right;
				font-size: 18px;
				font-weight: 600;
				line-height: 34px;
				letter-spacing: 0.4px;
				margin: 0;
			}
		}
	}
}
