.product--shelf {
	.product__info--name {
		.product__name {
			min-height: 60px;
		}
	}

	.product__price {
		.product__unavailable {
			display: none;
		}

		.btn-list {
			display: none;
		}
	}
}

.shelf {

	.btn__login {
		font-size: 19px;
		display: block;
		font-weight: 300;
		text-align: center;
		padding: 11px 32px 8px;

		span {
			font-weight: bold;
			font-size: 16px;
			display: block;
		}
	}
	&--grid {
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template: 1fr 1fr;
			list-style: none;
			grid-gap: 20px;

			@include atMedium {
				display: block;
			}
		}
		.price {
			display: none;
			@include atMedium {
				display: block;
			}
		}

		.prateleira {
            padding: 0 25px;

            & > h2 {
                @extend %display-none;
            }

			@include atMedium {
				padding: 0;
			}
		}
		li {
			display: none;
			@include atMedium {
				display: block;
			}
		}
		li:nth-child(-n + 4) {
			display: block;
		}
	}
	&__button {
		border: 0;
		padding: 0;
		background: none;
	}

	.product--shelf {
		max-width: 216px;
	}

	&__carousel--full {
		.product--shelf {
			margin: auto;
		}
	}
}

ul.slick-initialized.slick-slider {
	display: flex;
}

body {
	.product__buy,
	.product__price,
	.product__skus,
	.product__action {
		display: none;
	}

	.btn__login,
	.contentLogin {
		display: block;
	}

	&.user-logged {

		.product__buy,
		.product__skus,
		.product__action {
			display: block;
		}

		.product__price {
			display: flex;
		}

		.btn__login,
		.contentLogin {
			display: none;
		}
	}
}


