extends ../layouts/default.pug

block vars
	- var pageTitle = 'Categoria'
	- var bodyClass = 'catalog category resultado-busca'

block content
	section.sextion__page.section__title
		h2
			+vtex-controller('<vtex.cmc:searchTitle />')
				| Calças
	//section.section__page.section__banner
		.container
			.banner.banner__category
				+vtex-controller('<vtex:contentPlaceHolder id="Banner Full" />')
					.box-banner
						a(href="")
							img(src="http://via.placeholder.com/2000x207")/
	section.section__page.section__navTop
		.section__navTop__numberProduct.numberItensMob
			p Foram encontrados
				b
				span  produtos
		.container
			.section__navTop__filter
				a(href="", class="btnOpenFilter")
					i.icon-filter
					p Mostrar
					p Filtros
				a(href="#", class="btnClear")
					i.icon-close
						include ../../svg/icon-close.svg
					| Limpar filtros

			.section__navTop__numberProduct
				p Foram encontrados
					b
					span  produtos
			.section__navTop__orderBy
				.container.is-fluid
					.section__inner
						p ORDENAR POR:
						.orderBy
							.select
								select
									option(value='') Selecionar
									option(value='OrderByPriceASC') Menor Preço
									option(value='OrderByPriceDESC') Maior Preço
									option(value='OrderByTopSaleDESC') Mais vendidos
									option(value='OrderByReviewRateDESC') Melhores avaliações
									option(value='OrderByNameASC') A - Z
									option(value='OrderByNameDESC') Z - A
									option(value='OrderByReleaseDateDESC') Data de lançamento
									option(value='OrderByBestDiscountDESC') Melhor Desconto
				.section__navTop__orderBy--grid
					a(href="#", class="grid_grade active")
						i.icon-grid
							include ../../svg/icon-grid.svg
					a(href="#", class="grid_list")
						i.icon-list
							include ../../svg/icon-list.svg
	section.section__page.container.allVitrine
		.category__filter.filter(style="display:none;")
			.clouseFilter
				a(href="#" class="clouse") X
			.filter__inner
				a(href="#", class="btnClear")
					span ×
					| Limpar filtro
				.filter__content
					ul.filter__menu
						li.filter__item
							span Todos
							.filter__options
								label
					.filter__actions
						button.button.button--primary Aplicar
				+vtex-controller('<vtex.cmc:searchNavigator />')
					script(type='text/javascript', language='javascript').
						$(document).ready(function() {
							partialSearchUrl = '/busca?O=OrderByReleaseDateDESC&';
						});
					.navigation-tabs
						.menu-departamento
							span.rt
							span.rb
							div
								.menu-navegue
									a.search-navigator-tab.tab-navegue-ativo(title='Navegue', href='#') Navegar
									a.search-navigator-tab.tab-refinar(title='Refinar Resultado', href='#') Refinar Resultado
								.search-multiple-navigator(style='visibility: visible;')
									h3.masculino
										span
										a(href='https://tactical.vtexcommercestable.com.br/masculino', title='Masculino') Masculino
									h4.masculino
										span
										a(href='https://tactical.vtexcommercestable.com.br/masculino', title='Calças') Calças
									a.bt-refinar.search-filter-button.even(title='Refinar Resultado', href='#') Refinar Resultado
									fieldset.refino.even.Cores.filtro_listacores
										h5.even.Cores ListaCores
										div
											label.sr_018-charcoal(title='018-charcoal', index='0', style='background-image: url("/arquivos/018-charcoal.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:018-charcoal', type='checkbox', name='018-charcoal', value='018-charcoal')
												| 018-charcoal
												span.sr_box
												span.sr_box2
											label.sr_019-black-1(title='019-black-1', index='1', style='background-image: url("/arquivos/019-black-1.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:019-black-1', type='checkbox', name='019-black-1', value='019-black-1')
												| 019-black-1
												span.sr_box
												span.sr_box2
											label.sr_055-khaki(title='055-khaki', index='2', style='background-image: url("/arquivos/055-khaki.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:055-khaki', type='checkbox', name='055-khaki', value='055-khaki')
												| 055-khaki
												span.sr_box
												span.sr_box2
											label.sr_070-stone(title='070-stone', index='3', style='background-image: url("/arquivos/070-stone.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:070-stone', type='checkbox', name='070-stone', value='070-stone')
												| 070-stone
												span.sr_box
												span.sr_box2
											label.sr_092-storm(title='092-storm', index='4', style='background-image: url("/arquivos/092-storm.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:092-storm', type='checkbox', name='092-storm', value='092-storm')
												| 092-storm
												span.sr_box
												span.sr_box2
											label.sr_098-volcanic(title='098-volcanic', index='5', style='background-image: url("/arquivos/098-volcanic.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:098-volcanic', type='checkbox', name='098-volcanic', value='098-volcanic')
												| 098-volcanic
												span.sr_box
												span.sr_box2
											label.sr_116-battle-brown(title='116-battle-brown', index='6', style='background-image: url("/arquivos/116-battle-brown.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:116-battle-brown', type='checkbox', name='116-battle-brown', value='116-battle-brown')
												| 116-battle-brown
												span.sr_box
												span.sr_box2
											label.sr_120-coyote(title='120-coyote', index='7', style='background-image: url("/arquivos/120-coyote.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:120-coyote', type='checkbox', name='120-coyote', value='120-coyote')
												| 120-coyote
												span.sr_box
												span.sr_box2
											label.sr_162-tdu-khaki(title='162-tdu-khaki', index='8', style='background-image: url("/arquivos/162-tdu-khaki.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:162-tdu-khaki', type='checkbox', name='162-tdu-khaki', value='162-tdu-khaki')
												| 162-tdu-khaki
												span.sr_box
												span.sr_box2
											label.sr_169-multicam(title='169-multicam', index='9', style='background-image: url("/arquivos/169-multicam.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:169-multicam', type='checkbox', name='169-multicam', value='169-multicam')
												| 169-multicam
												span.sr_box
												span.sr_box2
											label.sr_190-tdu-green(title='190-tdu-green', index='10', style='background-image: url("/arquivos/190-tdu-green.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:190-tdu-green', type='checkbox', name='190-tdu-green', value='190-tdu-green')
												| 190-tdu-green
												span.sr_box
												span.sr_box2
											label.sr_192-tundra(title='192-tundra', index='11', style='background-image: url("/arquivos/192-tundra.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:192-tundra', type='checkbox', name='192-tundra', value='192-tundra')
												| 192-tundra
												span.sr_box
												span.sr_box2
											label.sr_233-oil-green(title='233-oil-green', index='12', style='background-image: url("/arquivos/233-oil-green.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:233-oil-green', type='checkbox', name='233-oil-green', value='233-oil-green')
												| 233-oil-green
												span.sr_box
												span.sr_box2
											label.sr_718-indigo(title='718-indigo', index='13', style='background-image: url("/arquivos/718-indigo.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:718-indigo', type='checkbox', name='718-indigo', value='718-indigo')
												| 718-indigo
												span.sr_box
												span.sr_box2
											label.sr_724-dark-navy(title='724-dark-navy', index='14', style='background-image: url("/arquivos/724-dark-navy.jpg");')
												input.multi-search-checkbox(rel='fq=specificationFilter_161:724-dark-navy', type='checkbox', name='724-dark-navy', value='724-dark-navy')
												| 724-dark-navy
												span.sr_box
												span.sr_box2
									fieldset.refino.Melhor.para.filtro_melhorpara
										h5.Melhor.para MelhorPara
										div
											label.sr_selected(class='sr_cidade-/-lifestyel', title='Cidade / Lifestyel', index='0')
												input.multi-search-checkbox(rel='fq=specificationFilter_159:Cidade+%2f+Lifestyel', type='checkbox', name='Cidade+%2f+Lifestyel', value='Cidade / Lifestyel', style='\
												border-radius: 0;\
												border: 0;\
												')
												| Cidade / Lifestyel
												span.sr_box
												span.sr_box2
											label.sr_treino-de-tiro(title='Treino de Tiro', index='1')
												input.multi-search-checkbox(rel='fq=specificationFilter_159:Treino+de+Tiro', type='checkbox', name='Treino+de+Tiro', value='Treino de Tiro')
												| Treino de Tiro
												span.sr_box
												span.sr_box2
											label.sr_outdoor(title='Outdoor', index='2')
												input.multi-search-checkbox(rel='fq=specificationFilter_159:Outdoor', type='checkbox', name='Outdoor', value='Outdoor')
												| Outdoor
												span.sr_box
												span.sr_box2
											label.sr_policial(title='Policial', index='3')
												input.multi-search-checkbox(rel='fq=specificationFilter_159:Policial', type='checkbox', name='Policial', value='Policial')
												| Policial
												span.sr_box
												span.sr_box2
											label(class='sr_bombeiro/sme', title='Bombeiro/SME', index='4')
												input.multi-search-checkbox(rel='fq=specificationFilter_159:Bombeiro%2fSME', type='checkbox', name='Bombeiro%2fSME', value='Bombeiro/SME')
												| Bombeiro/SME
												span.sr_box
												span.sr_box2
									fieldset.refino.even.Caimento.filtro_caimento
										h5.even.Caimento Caimento
										div
											label.sr_reto(title='Reto', index='0')
												input.multi-search-checkbox(rel='fq=specificationFilter_160:Reto', type='checkbox', name='Reto', value='Reto')
												| Reto
												span.sr_box
												span.sr_box2
											label.sr_regular(title='Regular', index='1')
												input.multi-search-checkbox(rel='fq=specificationFilter_160:Regular', type='checkbox', name='Regular', value='Regular')
												| Regular
												span.sr_box
												span.sr_box2
									fieldset.refino.Ajuste.de.cintura.filtro_ajustedecintura
										h5.Ajuste.de.cintura AjustedeCintura
										div
											label.sr_ajustavel(title='Ajustável', index='0')
												input.multi-search-checkbox(rel='fq=specificationFilter_162:Ajust%c3%a1vel', type='checkbox', name='Ajust%c3%a1vel', value='Ajustável')
												| Ajustável
												span.sr_box
												span.sr_box2
											label.sr_fixo(title='Fixo', index='1')
												input.multi-search-checkbox(rel='fq=specificationFilter_162:Fixo', type='checkbox', name='Fixo', value='Fixo')
												| Fixo
												span.sr_box
												span.sr_box2
									fieldset.refino.even.filtro_caracteristicas(class='Característica')
										h5.even(class='Característica') Caracteristicas
										div
											label.sr_bolsos-cargo(title='Bolsos Cargo', index='0')
												input.multi-search-checkbox(rel='fq=specificationFilter_163:Bolsos+Cargo', type='checkbox', name='Bolsos+Cargo', value='Bolsos Cargo')
												| Bolsos Cargo
												span.sr_box
												span.sr_box2
											label.sr_pronta-para-joelheira(title='Pronta para Joelheira', index='1')
												input.multi-search-checkbox(rel='fq=specificationFilter_163:Pronta+para+Joelheira', type='checkbox', name='Pronta+para+Joelheira', value='Pronta para Joelheira')
												| Pronta para Joelheira
												span.sr_box
												span.sr_box2
											label.sr_vinco-permanente(title='Vinco Permanente', index='2')
												input.multi-search-checkbox(rel='fq=specificationFilter_163:Vinco+Permanente', type='checkbox', name='Vinco+Permanente', value='Vinco Permanente')
												| Vinco Permanente
												span.sr_box
												span.sr_box2
									fieldset.refino.filtro_colecao(class='Coleção')
										h5(class='Coleção') Colecao
										div
											label(class='sr_5.11-strike', title='5.11 Strike', index='0')
												input.multi-search-checkbox(rel='fq=specificationFilter_164:5.11+Strike', type='checkbox', name='5.11+Strike', value='5.11 Strike')
												| 5.11 Strike
												span.sr_box
												span.sr_box2
											label(class='sr_5.11-tactical', title='5.11 Tactical', index='1')
												input.multi-search-checkbox(rel='fq=specificationFilter_164:5.11+Tactical', type='checkbox', name='5.11+Tactical', value='5.11 Tactical')
												| 5.11 Tactical
												span.sr_box
												span.sr_box2
											label.sr_apex(title='Apex', index='2')
												input.multi-search-checkbox(rel='fq=specificationFilter_164:Apex', type='checkbox', name='Apex', value='Apex')
												| Apex
												span.sr_box
												span.sr_box2
											label.sr_defender(title='Defender', index='3')
												input.multi-search-checkbox(rel='fq=specificationFilter_164:Defender', type='checkbox', name='Defender', value='Defender')
												| Defender
												span.sr_box
												span.sr_box2
											label.sr_fast-tac(title='FAST-TAC', index='4')
												input.multi-search-checkbox(rel='fq=specificationFilter_164:FAST-TAC', type='checkbox', name='FAST-TAC', value='FAST-TAC')
												| FAST-TAC
												span.sr_box
												span.sr_box2
											label.sr_taclite(title='TACLITE', index='5')
												input.multi-search-checkbox(rel='fq=specificationFilter_164:TACLITE', type='checkbox', name='TACLITE', value='TACLITE')
												| TACLITE
												span.sr_box
												span.sr_box2
								.search-single-navigator(style='display: none;')
									h3.masculino
										span
										a(href='https://tactical.vtexcommercestable.com.br/masculino', title='Masculino') Masculino
									ul.productClusterSearchableIds
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/137?PS=16&map=c,c,c,productClusterSearchableIds', title='flag teste') flag teste (51)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/141?PS=16&map=c,c,c,productClusterSearchableIds', title='Lifestyle Masculino') Lifestyle Masculino (50)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/142?PS=16&map=c,c,c,productClusterSearchableIds', title='Exterior Masculino') Exterior Masculino (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/143?PS=16&map=c,c,c,productClusterSearchableIds', title='Campo Masculino') Campo Masculino (9)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/144?PS=16&map=c,c,c,productClusterSearchableIds', title='Profissional Masculino') Profissional Masculino (8)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/150?PS=16&map=c,c,c,productClusterSearchableIds', title='Lifestyle Feminino') Lifestyle Feminino (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/151?PS=16&map=c,c,c,productClusterSearchableIds', title='Exterior Feminino') Exterior Feminino (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/152?PS=16&map=c,c,c,productClusterSearchableIds', title='Campo Feminino') Campo Feminino (9)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/153?PS=16&map=c,c,c,productClusterSearchableIds', title='Profissional Feminino') Profissional Feminino (10)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/157?PS=16&map=c,c,c,productClusterSearchableIds', title='Lifestyle Calçados') Lifestyle Calçados (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/158?PS=16&map=c,c,c,productClusterSearchableIds', title='Exterior Calçados') Exterior Calçados (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/159?PS=16&map=c,c,c,productClusterSearchableIds', title='Campo Calçados') Campo Calçados (9)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/160?PS=16&map=c,c,c,productClusterSearchableIds', title='Profissional Calçados') Profissional Calçados (10)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/164?PS=16&map=c,c,c,productClusterSearchableIds', title='Lifestyle Mochilas') Lifestyle Mochilas (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/165?PS=16&map=c,c,c,productClusterSearchableIds', title='Exterior Mochilas') Exterior Mochilas (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/166?PS=16&map=c,c,c,productClusterSearchableIds', title='Campo Mochilas') Campo Mochilas (9)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/167?PS=16&map=c,c,c,productClusterSearchableIds', title='Profissional Mochilas') Profissional Mochilas (10)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/171?PS=16&map=c,c,c,productClusterSearchableIds', title='Lifestyle Acessórios') Lifestyle Acessórios (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/172?PS=16&map=c,c,c,productClusterSearchableIds', title='Exterior Acessórios') Exterior Acessórios (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/173?PS=16&map=c,c,c,productClusterSearchableIds', title='Campo Acessórios') Campo Acessórios (9)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/174?PS=16&map=c,c,c,productClusterSearchableIds', title='Profissional Acessórios') Profissional Acessórios (10)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/178?PS=16&map=c,c,c,productClusterSearchableIds', title='Lifestyle Uso Profissional') Lifestyle Uso Profissional (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/179?PS=16&map=c,c,c,productClusterSearchableIds', title='Exterior Uso Profissional') Exterior Uso Profissional (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/180?PS=16&map=c,c,c,productClusterSearchableIds', title='Campo Uso Profissional') Campo Uso Profissional (9)
										li.last
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/181?PS=16&map=c,c,c,productClusterSearchableIds', title='Profissional Uso Profissional') Profissional Uso Profissional (10)
									h4.masculino.even
										a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas?PS=16', title='Calças') Calças (51)
									h5.Hide.even.Cores.HideListaCores ListaCores
									ul.ListaCores.even.Cores
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/018-charcoal?PS=16&map=c,c,c,specificationFilter_161', title='018-charcoal') 018-charcoal (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/019-black-1?PS=16&map=c,c,c,specificationFilter_161', title='019-black-1') 019-black-1 (7)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/055-khaki?PS=16&map=c,c,c,specificationFilter_161', title='055-khaki') 055-khaki (5)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/070-stone?PS=16&map=c,c,c,specificationFilter_161', title='070-stone') 070-stone (3)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/092-storm?PS=16&map=c,c,c,specificationFilter_161', title='092-storm') 092-storm (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/098-volcanic?PS=16&map=c,c,c,specificationFilter_161', title='098-volcanic') 098-volcanic (2)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/116-battle-brown?PS=16&map=c,c,c,specificationFilter_161', title='116-battle-brown') 116-battle-brown (2)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/120-coyote?PS=16&map=c,c,c,specificationFilter_161', title='120-coyote') 120-coyote (2)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/162-tdu-khaki?PS=16&map=c,c,c,specificationFilter_161', title='162-tdu-khaki') 162-tdu-khaki (4)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/169-multicam?PS=16&map=c,c,c,specificationFilter_161', title='169-multicam') 169-multicam (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/190-tdu-green?PS=16&map=c,c,c,specificationFilter_161', title='190-tdu-green') 190-tdu-green (6)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/192-tundra?PS=16&map=c,c,c,specificationFilter_161', title='192-tundra') 192-tundra (2)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/233-oil-green?PS=16&map=c,c,c,specificationFilter_161', title='233-oil-green') 233-oil-green (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/718-indigo?PS=16&map=c,c,c,specificationFilter_161', title='718-indigo') 718-indigo (1)
										li.last
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/724-dark-navy?PS=16&map=c,c,c,specificationFilter_161', title='724-dark-navy') 724-dark-navy (5)
									h5.Hide.Melhor.para.HideMelhorPara MelhorPara
									ul.MelhorPara.Melhor.para
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Cidade @slash@ Lifestyel?PS=16&map=c,c,c,specificationFilter_159', title='Cidade / Lifestyel') Cidade / Lifestyel (5)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Treino de Tiro?PS=16&map=c,c,c,specificationFilter_159', title='Treino de Tiro') Treino de Tiro (21)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Outdoor?PS=16&map=c,c,c,specificationFilter_159', title='Outdoor') Outdoor (9)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Policial?PS=16&map=c,c,c,specificationFilter_159', title='Policial') Policial (33)
										li.last
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Bombeiro@slash@SME?PS=16&map=c,c,c,specificationFilter_159', title='Bombeiro/SME') Bombeiro/SME (4)
									h5.Hide.even.Caimento.HideCaimento Caimento
									ul.Caimento.even.Caimento
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Reto?PS=16&map=c,c,c,specificationFilter_160', title='Reto') Reto (1)
										li.last
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Regular?PS=16&map=c,c,c,specificationFilter_160', title='Regular') Regular (33)
									h5.Hide.Ajuste.de.cintura.HideAjustedeCintura AjustedeCintura
									ul.AjustedeCintura.Ajuste.de.cintura
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Ajustável?PS=16&map=c,c,c,specificationFilter_162', title='Ajustável') Ajustável (26)
										li.last
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Fixo?PS=16&map=c,c,c,specificationFilter_162', title='Fixo') Fixo (8)
									h5.Hide.even.HideCaracteristicas(class='Característica') Caracteristicas
									ul.Caracteristicas.even(class='Característica')
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Bolsos Cargo?PS=16&map=c,c,c,specificationFilter_163', title='Bolsos Cargo') Bolsos Cargo (32)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Pronta para Joelheira?PS=16&map=c,c,c,specificationFilter_163', title='Pronta para Joelheira') Pronta para Joelheira (25)
										li.last
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Vinco Permanente?PS=16&map=c,c,c,specificationFilter_163', title='Vinco Permanente') Vinco Permanente (5)
									h5.Hide.HideColecao(class='Coleção') Colecao
									ul.Colecao(class='Coleção')
										li
											a(href='https://tactical.vtexcommercestable.com.br/search?fq=C:%2f1%2f6%2f39%2f&fq=specificationFilter_164:5.11+Strike&PS=16', title='5.11 Strike') 5.11 Strike (12)
										li
											a(href='https://tactical.vtexcommercestable.com.br/search?fq=C:%2f1%2f6%2f39%2f&fq=specificationFilter_164:5.11+Tactical&PS=16', title='5.11 Tactical') 5.11 Tactical (2)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Apex?PS=16&map=c,c,c,specificationFilter_164', title='Apex') Apex (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/Defender?PS=16&map=c,c,c,specificationFilter_164', title='Defender') Defender (1)
										li
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/FAST-TAC?PS=16&map=c,c,c,specificationFilter_164', title='FAST-TAC') FAST-TAC (3)
										li.last
											a(href='https://tactical.vtexcommercestable.com.br/masculino/vestuario/calcas/TACLITE?PS=16&map=c,c,c,specificationFilter_164', title='TACLITE') TACLITE (9)

					.urlLastSearch(style='display:none') http://www.thugnine.com.br/roupas/camisetas?O=OrderByReleaseDateDESC

		.is-fluid
			.shelf__vitrine
				.prateleira.shelf--new(data-to="30", data-from="1")
				+vtex-controller('<vtex.cmc:searchResult layout="65c15678-2bbe-72e0-3aa6-0aa635db2f86" itemCount="16"  columnCount="16" />')
					include ../vtexParts/searchResult.pug
			.textCatalog
				.titleText
					<svg class="section__title__ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 25 25"><defs><path id="qg31a" d="M874.24 1114.82a3.41 3.41 0 0 1-3.42 3.42H856.2a3.41 3.41 0 0 1-3.4-3.42h-.02v-14.62h.02a3.41 3.41 0 0 1 3.4-3.42h14.63a3.41 3.41 0 0 1 3.42 3.42v14.62zM851 1120h25v-25h-25z"></path><path id="qg31b" d="M870.69 1111.73c0 1.2-.97 2.16-2.16 2.16h-9.25c-1.2 0-2.16-.97-2.16-2.16h-.01v-9.26h.01c0-1.19.97-2.16 2.16-2.16v-.01h9.25v.01c1.2 0 2.16.97 2.16 2.16v9.26zm-14.85 3.43h16.13v-16.13h-16.13z"></path><path id="qg31c" d="M867.93 1106.51h-3.45v-3.45h-1.15v3.45h-3.46v1.16h3.46v3.45h1.15v-3.45h3.45z"></path></defs><g><g transform="translate(-851 -1095)"><g><use fill="#e75300" xlink:href="#qg31a"></use></g><g><use fill="#e75300" xlink:href="#qg31b"></use></g><g><use fill="#e75300" xlink:href="#qg31c"></use></g></g></g></svg>
					h3
						+vtex-controller('<vtex.cmc:searchTitle />')
							| Camisa
				+vtex-controller('<vtex:contentPlaceHolder id="Text category" />')
					h4
						| Combining superior craftsmanship, modern technology, and precise engineering, 5.11 pants are the backbone of 5.11 Tactical clothing. Each 5.11 pant line is built around a mission-specific battery of requirements. Materials selection, fabric types, stitching style, pocket sizing, and augmentations are all integrated to provide the user with a high quality pant that excels in a particular role. From the full-featured utility and dependability of our traditional Tactical Pant to the industry-specific pockets on our EMS Pant, all of our 5.11 pants for men are crafted with performance in mind. Designed with direct input from operators on the ground, and integrating a wealth of patented features and functions you won’t find anywhere else, 5.11 Tactical sets the global standard for high performance pants for men.


block scripts
	script(src='/arquivos/vtex-SmartResearch.js?v=%PROJECT_VERSION%')
