extends ../layouts/empty.pug

block vars
	- var pageTitle = 'Login'
	- var bodyClass = 'login'

block content
	iframe.iframe--home(src="/", frameborder="0" width="100%", height="100%", scrolling="no")
	+vtex-controller('<vtex.cmc:userLogin/>')
