extends ../layouts/default.pug

block vars
  - var pageTitle = '404'
  - var bodyClass = '404 home'

block content
  section.section__page.section__hero
    .banner.banner--full
      .banner__inner
        +vtex-controller('<vtex:contentPlaceHolder id="Banner Full" />')
          .box-banner
            a(href="")
              img(src="/arquivos/banner-ex.png")/
          .box-banner
            a(href="")
              img(src="/arquivos/banner-ex.png")/
          .box-banner
            a(href="")
              img(src="/arquivos/banner-ex.png")/
    .banner.banner--mobile
      .banner__inner
        +vtex-controller('<vtex:contentPlaceHolder id="Banner Full Mobile" />')
          .box-banner
            a(href="")
              img(src="/arquivos/banner-full-mbl.png")/
          .box-banner
            a(href="")
              img(src="/arquivos/banner-full-mbl.png")/
          .box-banner
            a(href="")
              img(src="/arquivos/banner-full-mbl.png")/
  section.section__page.section__comprecategoria
    include ../vtexParts/comprecategoriatop-new.pug
  +vtex-controller('<vtex.cmc:userLogin/>')