footer.footer
    .footer__inner
        .footer__column
            h3.footer__title Atendimento
            ul.menu
                li.menu__item.menu__item--highlight
                    a.menu__link(href="tel:1149352390") (11) 4935-2390
                li.menu__item
                    a.menu__link(href="/institucional/fale-conosco") Fale Conosco
                li.menu__item
                    a.menu__link(href="/institucional/perguntas-frequentes") Perguntas Frequentes
                li.menu__item
                    a.menu__link(href="/institucional/trocas-e-devolucoes") Trocas e Devoluções
                li.menu__item
                    a.menu__link(href="/account") Minha Conta
        .footer__column
            h3.footer__title Sobre a 5.11
            ul.menu
                li.menu__item
                    a.menu__link(href="/institucional/sobre-a-marca") Sobre a Marca
                li.menu__item
                    a.menu__link(href="/institucional/encontre-uma-loja") Encontre uma loja
                li.menu__item
                    a.menu__link(href="/institucional/politica-de-privacidade") Política de Privacidade
                li.menu__item
                    a.menu__link(href="/institucional/politica-de-pagamento") Política de Pagamento
                li.menu__item
                    a.menu__link(href="/institucional/trabalhe-conosco") Trabalhe Conosco
                //- li.menu__item
                //-     a.menu__link(href="/institucional/tabela-de-medidas") Tabela de Medidas
        .footer__column
            h3.footer__title.socialMedia Siga-nos
            .footer__social-media
                ul.social-media
                    li.social-media__item
                        a.social-media__link.social-media__link--instagram(href="https://www.instagram.com/511tactical/", target="_blank")
                            i.icon-instagram
                    li.social-media__item
                        a.social-media__link.social-media__link--twitter(href="https://twitter.com/511tactical", target="_blank")
                            i.icon-twitter
                    li.social-media__item
                        a.social-media__link.social-media__link--facebook(href="https://www.facebook.com/511TacticalAmericas/?brand_redir=56646782870", target="_blank")
                            i.icon-facebook
                    li.social-media__item
                        a.social-media__link.social-media__link--youtube(href="https://www.youtube.com/user/511Tactical", target="_blank")
                            i.icon-youtube
            .footer__secure
                // TODO: Colocar as imagens de segurança
                a(href="https://br.clear.sale/", target="_blank")
                    img(src="/arquivos/logo-clearsale.png")/
                a(href="https://www.rapidssl.com.br/", target="_blank")
                    img(src="/arquivos/logo-rapidssl.png")/
        .footer__column
            // TODO: logo footer
            .footer__logo
                .logo.logo--footer
                    include ../../svg/logo-footer.svg
            p.footer__brand-description Construída sobre a base da durabilidade, qualidade e valor, a 5.11 Tactical lidera a indústria na oferta de equipamentos funcionalmente inovadores, da cabeça aos pés. Não se trata de lifestyle, mas sim de salvar vidas!
            p.footer__brand-copyright 5.11 DO BRASIL COMERCIO LTDA, Rua Joaquim Floriano, 466 – Itaim Bibi, São Paulo – SP, CEP:04.534-002 CNPJ: 29.747.530/0001-80.
            .footer__responsibility
                ul
                    li
                        a(href='http://www.infracommerce.com.br/', target='_blank')
                            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='116', height='24', viewBox='0 0 116 24')
                                defs
                                    path#7y6qa(d='M1418.07 3273.89c0-.33.28-.59.63-.59h.89c.34 0 .63.26.63.59v6.76c0 .32-.29.59-.63.59h-.89c-.35 0-.63-.27-.63-.6z')
                                    path#7y6qb(d='M1422.06 3273.6c0-.17.14-.3.32-.3h1.42c.18 0 .33.13.34.3l.01.3c.01.16.12.2.24.08l.18-.14a3 3 0 0 1 1.26-.6c.27-.08.57-.11.91-.11 1.07 0 1.88.3 2.44.89.56.6.8 2.1.8 2.1.02.16.04.43.04.59v4.23c0 .16-.14.3-.32.3h-1.51c-.18 0-.32-.14-.32-.3v-4.22c0-.16-.02-.42-.05-.58 0 0-.1-.6-.4-.89-.3-.27-.68-.41-1.15-.41-.3 0-.57.05-.82.16-.26.1-.48.26-.66.45a2.13 2.13 0 0 0-.55 1.2c-.02.16-.03.42-.03.58v3.71c0 .16-.14.3-.32.3h-1.51c-.18 0-.32-.14-.32-.3z')
                                    path#7y6qc(d='M1431.83 3275.22c0-.17-.15-.3-.32-.3h-.82c-.18 0-.32-.13-.32-.3v-1.03c0-.16.14-.3.32-.3h.82c.17 0 .32-.1.32-.24 0-.13 0-.38.02-.54 0 0 .07-.77.27-1.17a2.84 2.84 0 0 1 1.77-1.53c.37-.11.74-.17 1.1-.17.4 0 .83.05 1.3.15.47.1 1.1.51 1.1.51.15.1.18.28.08.41l-.63.84c-.1.13-.3.17-.46.09 0 0-.13-.08-.35-.16a2.05 2.05 0 0 0-.69-.11c-.42 0-.76.12-1 .38-.26.25-.34.8-.34.8l-.04.52c0 .12.14.23.32.23h1.57c.17 0 .31.13.31.29v1.04c0 .16-.14.3-.31.3h-1.56c-.17 0-.31.12-.31.29v5.72c0 .16-.15.3-.32.3h-1.52c-.17 0-.31-.14-.31-.3z')
                                    path#7y6qd(d='M1437.56 3273.59c0-.17.14-.3.32-.3h1.42c.18 0 .33.13.33.3l.03.4c0 .17.1.2.22.08l.17-.15c.15-.14.33-.26.53-.37a3.6 3.6 0 0 1 2.22-.38l.2.04c.16.04.27.21.23.37l-.3 1.3c-.04.16-.2.25-.36.2l-.16-.03a3.71 3.71 0 0 0-.53-.03c-.3 0-.57.04-.84.13-.27.1-.5.22-.7.4-.19.16-.34.37-.46.6-.11.24-.14.5-.14.5-.02.17-.03.43-.03.6v3.69c0 .16-.14.29-.32.29h-1.51c-.18 0-.32-.13-.32-.3z')
                                    path#7y6qe(d='M1449.04 3280.79c0-.16-.12-.2-.25-.1 0 0-.35.3-.82.5a3.98 3.98 0 0 1-2.64.15c-.34-.1-.66-.26-.94-.47a2.38 2.38 0 0 1-.96-1.95 2.55 2.55 0 0 1 1.04-2.1c.33-.25.72-.43 1.18-.56a5.87 5.87 0 0 1 2.1-.18 20.77 20.77 0 0 1 .96.05c.17 0 .31-.03.31-.08s-.03-.22-.07-.38c0 0-.1-.42-.44-.64a2.37 2.37 0 0 0-1.33-.34c-.6 0-1.09.07-1.45.22-.37.15-.7.32-.7.32a.36.36 0 0 1-.45-.1l-.63-.86a.28.28 0 0 1 .09-.4l.32-.19a6.7 6.7 0 0 1 3.12-.65c.54 0 1.04.07 1.48.21.44.14.82.34 1.14.6.31.25.56.55.73.9.17.36.22.87.22.87.02.17.03.43.03.6v4.73c0 .17-.14.3-.32.3h-1.37c-.17 0-.32-.13-.33-.3zm-.02-2.85c0-.16-.14-.3-.31-.3l-.33-.02a15.7 15.7 0 0 0-1.02-.04c-.69 0-1.17.13-1.45.38-.28.26-.42.55-.42.88 0 .33.13.6.39.79.26.2.65.29 1.16.29a2.3 2.3 0 0 0 1.36-.44c.18-.14.33-.3.45-.48a.83.83 0 0 0 .13-.28c.02-.16.04-.42.04-.59z')
                                    path#7y6qf(d='M1418 3270.54c0-.33.28-.59.63-.59h1.03c.35 0 .64.26.64.59v.92c0 .32-.29.59-.64.59h-1.03c-.35 0-.63-.27-.63-.59z')
                                    path#7y6qg(d='M1462.25 3279.97c.12.12.1.3-.02.41 0 0-.64.52-1.19.76a5.79 5.79 0 0 1-3.86.05 3.74 3.74 0 0 1-2.33-2.2 4.63 4.63 0 0 1 .03-3.36 4.15 4.15 0 0 1 2.38-2.26 4.98 4.98 0 0 1 1.87-.34 5 5 0 0 1 1.9.35c.57.23 1.21.74 1.21.74.13.11.14.29.02.4l-.92.87a.34.34 0 0 1-.45.01s-.3-.26-.63-.4c-.33-.15-.7-.23-1.13-.23-.41 0-.77.07-1.07.21-.3.15-.56.33-.76.55-.2.23-.35.5-.45.8a3.04 3.04 0 0 0 0 1.83 2.27 2.27 0 0 0 2.28 1.6c.43-.01.81-.09 1.17-.24.35-.15.66-.42.66-.42.12-.1.33-.1.44.02z')
                                    path#7y6qh(d='M1462.32 3277.26a4.03 4.03 0 0 1 1.28-2.98c.4-.38.88-.69 1.44-.91a4.98 4.98 0 0 1 1.87-.34c.68 0 1.3.11 1.87.34a4.16 4.16 0 0 1 2.39 5.53 4.24 4.24 0 0 1-2.4 2.27 5 5 0 0 1-1.86.34 5 5 0 0 1-1.87-.34 4.38 4.38 0 0 1-2.38-2.28 4.03 4.03 0 0 1-.34-1.63m4.59 2.51a2.25 2.25 0 0 0 1.83-.83 2.79 2.79 0 0 0 .45-2.56c-.1-.3-.26-.56-.46-.8a2.3 2.3 0 0 0-1.82-.82c-.42 0-.77.07-1.08.22a2.3 2.3 0 0 0-1.2 1.4 2.8 2.8 0 0 0 0 1.75c.1.3.25.57.45.82a2.25 2.25 0 0 0 1.83.82')
                                    path#7y6qi(d='M1509.35 3279.87c.12.12.15.27.08.34l-.17.16c-.16.15-.4.31-.7.48a5.79 5.79 0 0 1-2.91.66c-.68 0-1.3-.1-1.86-.32a3.84 3.84 0 0 1-2.34-2.25 4.7 4.7 0 0 1 0-3.4 3.98 3.98 0 0 1 2.26-2.19 4.64 4.64 0 0 1 1.76-.32c.77 0 1.43.13 1.97.4.54.26.98.61 1.3 1.04.33.43.57.91.71 1.45a8.76 8.76 0 0 1 .22 1.8c0 .09-.14.15-.31.15h-5.75c-.17 0-.3.13-.28.3 0 0 .04.26.18.5.14.23.32.44.54.6a2.78 2.78 0 0 0 1.61.52 4.72 4.72 0 0 0 1.88-.35c.22-.1.4-.2.54-.3l.14-.12c.1-.08.27-.05.39.07zm-2.2-3.45c.18 0 .3-.13.29-.29 0 0-.01-.11-.1-.31-.08-.2-.2-.39-.37-.55-.17-.16-.38-.3-.63-.4a2.57 2.57 0 0 0-1.81 0c-.28.1-.5.24-.69.4-.18.16-.32.34-.41.55-.1.2-.12.31-.12.31-.02.16.11.3.29.3z')
                                    path#7y6qj(d='M1510.97 3273.6c0-.17.14-.3.32-.3h1.42c.18 0 .33.13.33.3l.03.4c0 .17.1.2.22.08l.17-.15c.15-.14.33-.26.53-.37a3.57 3.57 0 0 1 2.41-.34c.17.04.28.21.24.37l-.3 1.3c-.04.16-.2.25-.36.2l-.16-.03a3.7 3.7 0 0 0-.53-.03c-.3 0-.57.04-.84.13-.27.1-.5.22-.7.4-.19.16-.34.37-.46.6-.11.24-.14.5-.14.5a7 7 0 0 0-.03.6v3.69c0 .16-.14.29-.32.29h-1.51c-.18 0-.32-.13-.32-.3z')
                                    path#7y6qk(d='M1524.33 3279.97c.12.12.1.3-.02.41 0 0-.64.52-1.19.76a5.79 5.79 0 0 1-3.86.05 3.74 3.74 0 0 1-2.33-2.2 4.63 4.63 0 0 1 .03-3.36 4.15 4.15 0 0 1 2.38-2.26 4.98 4.98 0 0 1 1.87-.34 5 5 0 0 1 1.9.35c.57.23 1.21.74 1.21.74.13.11.14.29.02.4l-.92.87a.34.34 0 0 1-.45.01s-.3-.26-.63-.4c-.33-.15-.7-.23-1.13-.23a2.29 2.29 0 0 0-1.83.76c-.2.23-.35.5-.45.8a3.04 3.04 0 0 0 0 1.83 2.27 2.27 0 0 0 2.28 1.6c.42-.01.81-.09 1.17-.24.35-.15.66-.42.66-.42.12-.1.33-.1.44.02z')
                                    path#7y6ql(d='M1532.62 3279.87c.12.12.15.27.08.34l-.17.16c-.16.15-.4.31-.7.48a5.8 5.8 0 0 1-2.91.66c-.68 0-1.3-.1-1.86-.32a3.84 3.84 0 0 1-2.34-2.25 4.7 4.7 0 0 1 0-3.4 3.98 3.98 0 0 1 2.26-2.19 4.64 4.64 0 0 1 1.76-.32c.77 0 1.43.13 1.97.4.54.26.98.61 1.3 1.04.33.43.57.91.71 1.45a8.76 8.76 0 0 1 .22 1.8c0 .09-.14.15-.31.15h-5.75c-.17 0-.3.13-.28.3 0 0 .04.26.18.5.14.23.32.44.54.6a2.78 2.78 0 0 0 1.61.52 4.72 4.72 0 0 0 1.88-.35c.22-.1.4-.2.54-.3l.14-.12c.1-.08.27-.05.39.07zm-2.2-3.45c.18 0 .3-.13.29-.29 0 0-.01-.11-.1-.31-.08-.2-.2-.39-.37-.55-.17-.16-.38-.3-.63-.4a2.57 2.57 0 0 0-1.81 0c-.28.1-.5.24-.69.4-.18.16-.32.34-.41.55-.1.2-.12.31-.12.31-.02.16.11.3.29.3z')
                                    path#7y6qm(d='M1500.36 3276.7v-.29c0-1-.28-1.79-.85-2.38l-.01-.01c-.58-.6-1.4-.89-2.49-.89a5.14 5.14 0 0 0-1.6.26l-.18.09c-.32.15-.65.36-.96.64a.4.4 0 0 1-.3.03 3.06 3.06 0 0 0-2.46-1.02 3.6 3.6 0 0 0-1.38.26c-.07.03-.15.06-.21.1-.03 0-.05.02-.07.03-.17.1-.32.2-.44.31l-.02.02-.14.13c-.12.12-.23.08-.24-.08l-.01-.3c-.01-.17-.16-.3-.34-.3h-1.42c-.18 0-.32.13-.32.3v7.35c0 .15.14.29.32.29h1.51c.18 0 .32-.14.32-.3v-3.7l.02-.6.03-.2.08-.32c.1-.24.22-.44.37-.63l.04-.04.07-.07c.13-.13.28-.23.45-.32l.1-.06.08-.03a2 2 0 0 1 .73-.13c.35 0 .65.08.9.23l.22.18.1.13c.2.3.26.76.26.76.03.16.05.41.05.58V3280.95c0 .15.14.29.31.29h1.52c.17 0 .32-.14.32-.3v-3.7c0-.17 0-.43.02-.6 0 0 0-.08.03-.2.02-.1.04-.21.08-.31v-.01a1.86 1.86 0 0 1 1.03-1.12 1.97 1.97 0 0 1 1.7.07c.08.05.16.12.22.18l.1.13c.2.3.27.76.27.76.02.15.04.4.04.57v4.24c0 .15.15.29.32.29h1.52c.17 0 .31-.14.31-.3v-4.23z')
                                    path#7y6qn(d='M1485.8 3276.7v-.29c0-1-.3-1.79-.86-2.38l-.01-.01c-.58-.6-1.4-.89-2.49-.89a5.14 5.14 0 0 0-1.6.26l-.18.09c-.32.15-.65.36-.96.64a.4.4 0 0 1-.3.03 3.06 3.06 0 0 0-2.46-1.02 3.6 3.6 0 0 0-1.38.26c-.07.03-.15.06-.21.1-.03 0-.05.02-.07.03a2.18 2.18 0 0 0-.6.46c-.12.12-.23.08-.24-.08l-.01-.3c-.01-.17-.16-.3-.34-.3h-1.42c-.18 0-.32.13-.32.3v7.35c0 .15.14.29.32.29h1.51c.18 0 .32-.14.32-.3v-3.7l.02-.6.03-.2.08-.32c.1-.24.22-.44.37-.63l.04-.04.07-.07c.13-.13.28-.23.45-.32l.1-.06.08-.03a2 2 0 0 1 .73-.13c.35 0 .65.08.9.23l.22.18.1.13c.2.3.26.76.26.76.03.16.05.41.05.58V3280.95c0 .15.14.29.31.29h1.52c.17 0 .32-.14.32-.3v-3.7c0-.17 0-.43.02-.6 0 0 0-.08.03-.2a2.28 2.28 0 0 1 .08-.32 1.86 1.86 0 0 1 1.03-1.12 1.97 1.97 0 0 1 1.7.07c.08.05.16.12.22.18l.1.13c.2.3.27.76.27.76.02.15.04.4.04.57v4.24c0 .15.15.29.32.29h1.52c.17 0 .31-.14.31-.3v-4.23z')
                                    path#7y6qo(d='M1453.93 3278.93h-1.66c-.25 0-.45.2-.45.44v1.47c0 .24.2.44.45.44h1.66c.25 0 .45-.2.45-.44v-1.47c0-.24-.2-.44-.45-.44')
                                g
                                    g(transform='translate(-1417 -3258)')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qa')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qb')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qc')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qd')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qe')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qf')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qg')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qh')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qi')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qj')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qk')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6ql')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qm')
                                        g
                                            use(fill='#ffffff', xlink:href='#7y6qn')
                                        g
                                            use(fill='#edb51d', xlink:href='#7y6qo')
                                        g
                                            g(fill='#636363', font-family="'Arial','ArialMT'", font-size='11')
                                                text(dominant-baseline='text-before-edge', font-family='Helvetica, Arial, sans-serif', transform='translate(1417 3256)')
                                                    tspan Powered by
                    li
                        a(href='http://www.ecorecomunicacao.com.br', target='_blank')
                            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='71', height='29', viewBox='0 0 71 29')
                                defs
                                    path#hxvxa(d='M1440.01 3109.11h28.22v28.2H1440z')
                                    path#hxvxd(d='M1468.23 3123.19a14.1 14.1 0 1 1 0 0')
                                    path#hxvxb(d='M1440 3109.11h14.36v16H1440z')
                                    path#hxvxf(d='M1454.36 3123.02l-.03-13.76.02-.15h-.26a14.1 14.1 0 0 0-13.96 16z')
                                    path#hxvxg(d='M1464.23 3123.38a10.4 10.4 0 0 1-20.79.05c-.02-5.74 4.94-10.17 10.37-10.41 5.74-.26 10.4 4.62 10.42 10.36')
                                    path#hxvxh(d='M1450.5 3119.98l8.53 2.49 5.02-.98c-.9-4.88-5.14-8.7-10.24-8.47-2.6.1-5.07 1.18-6.95 2.88z')
                                    path#hxvxi(d='M1453.84 3117.94a5.46 5.46 0 1 1 0 10.92 5.46 5.46 0 0 1 0-10.92')
                                    path#hxvxj(d='M1464.03 3121.38l.07.45-15.84 2.77-.08-.45z')
                                    path#hxvxk(d='M1459.06 3123.76a5.24 5.24 0 1 1-.28-2.06l.44-.14a5.7 5.7 0 1 0 .3 2.05z')
                                    path#hxvxl(d='M1461.9 3116.33a10.66 10.66 0 0 0-13.05-2.4l.36.33a10.24 10.24 0 0 1 12.35 2.36 10.18 10.18 0 1 1-16.17 1.1l-.35-.3a10.64 10.64 0 0 0 15.82 13.9 10.64 10.64 0 0 0 1.04-15')
                                    path#hxvxm(d='M1478.16 3127.3c.08-.09.17-.09.26-.01.09.09.09.17.01.26a2.99 2.99 0 0 1-1.93.78 2.79 2.79 0 0 1-1.99-.82 3.03 3.03 0 0 1-.61-.9 2.92 2.92 0 0 1 .6-3.1c.25-.25.56-.46.9-.61a2.77 2.77 0 0 1 3.07.6 2.79 2.79 0 0 1 .85 1.97v.03c-.02.12-.08.17-.2.17l-5.07.01a2.42 2.42 0 0 0 2.45 2.25c.33 0 .63-.05.9-.17.29-.1.54-.25.76-.46m-1.67-4.24c-.32 0-.63.07-.91.19s-.53.28-.75.48a2.53 2.53 0 0 0-.78 1.6l4.88-.02c-.02-.3-.1-.6-.25-.87a2.69 2.69 0 0 0-1.3-1.19 2.06 2.06 0 0 0-.9-.19')
                                    path#hxvxn(d='M1478.16 3127.3c.08-.09.17-.09.26-.01.09.09.09.17.01.26a2.99 2.99 0 0 1-1.93.78 2.79 2.79 0 0 1-1.99-.82 3.03 3.03 0 0 1-.61-.9 2.92 2.92 0 0 1 .6-3.1c.25-.25.56-.46.9-.61a2.77 2.77 0 0 1 3.07.6 2.79 2.79 0 0 1 .85 1.97v.03c-.02.12-.08.17-.2.17l-5.07.01a2.42 2.42 0 0 0 2.45 2.25c.33 0 .63-.05.9-.17.29-.1.54-.25.76-.46zm-1.67-4.24c-.32 0-.63.07-.91.19s-.53.28-.75.48a2.53 2.53 0 0 0-.78 1.6l4.88-.02c-.02-.3-.1-.6-.25-.87a2.69 2.69 0 0 0-1.3-1.19 2.06 2.06 0 0 0-.9-.19z')
                                    path#hxvxo(d='M1486.89 3119.78a3.37 3.37 0 0 0-1.6-.38 3.9 3.9 0 0 0-2.81 1.17 3.94 3.94 0 0 0-1.15 2.83 3.94 3.94 0 0 0 2.44 3.66c.49.2 1 .3 1.55.3a3.83 3.83 0 0 0 2.9-1.27.5.5 0 0 1 .2-.14.59.59 0 0 1 .24-.04c.13 0 .24.04.3.14.07.09.1.2.1.3 0 .17-.04.3-.14.4a4.8 4.8 0 0 1-3.6 1.57 4.95 4.95 0 0 1-4.57-6.83 5.03 5.03 0 0 1 2.61-2.64 4.77 4.77 0 0 1 3.87 0c.6.28 1.13.64 1.6 1.1.05.06.1.13.13.2.05.1.07.17.07.25 0 .14-.04.25-.14.31a.5.5 0 0 1-.33.11.57.57 0 0 1-.37-.17c-.37-.32-.8-.62-1.3-.87zm7.86 1.31a4.04 4.04 0 0 1 2.01 2c.2.46.3.94.3 1.45 0 .5-.1.99-.29 1.43a3.85 3.85 0 0 1-1.98 2 3.79 3.79 0 0 1-4.12-.75 3.6 3.6 0 0 1-1.1-2.67 3.78 3.78 0 0 1 1.07-2.63 3.77 3.77 0 0 1 4.1-.83zm-2.53.9a2.76 2.76 0 0 0-1.49 1.5 2.77 2.77 0 0 0 1.5 3.64 2.78 2.78 0 0 0 3.05-.6 2.77 2.77 0 0 0 0-3.94 2.87 2.87 0 0 0-1.98-.82c-.38 0-.74.08-1.08.22zm5.97-.76c0-.13.05-.25.14-.33.1-.1.21-.15.34-.15.13 0 .25.05.34.15.1.1.14.2.14.33v.77c.33-.36.73-.66 1.2-.9a3.4 3.4 0 0 1 1.51-.35c.17 0 .3.05.4.15a.47.47 0 0 1 0 .67c-.1.1-.22.15-.39.15-.37 0-.72.07-1.04.21-.31.15-.6.34-.84.6a3.3 3.3 0 0 0-.59.85c-.15.31-.23.65-.24 1l.01 3.43c0 .13-.04.25-.14.34-.08.1-.2.14-.34.14a.44.44 0 0 1-.33-.14.44.44 0 0 1-.15-.34zm5.24 3.76a2.71 2.71 0 0 0 .94 1.65 2.66 2.66 0 0 0 1.81.67 2.87 2.87 0 0 0 1.96-.79c.09-.1.2-.14.34-.14.13 0 .25.04.34.14.1.1.14.2.14.34 0 .13-.04.25-.14.34a2.9 2.9 0 0 1-1.16.82c-.44.16-.92.24-1.49.24a3.78 3.78 0 0 1-2.64-1.05 3.6 3.6 0 0 1-1.1-2.67 3.78 3.78 0 0 1 1.07-2.63 4 4 0 0 1 2.69-1.15 3.83 3.83 0 0 1 3.42 2.28c.2.46.31.94.31 1.46 0 .15-.05.27-.15.36-.1.09-.21.12-.33.12zm5.49-.97a2.87 2.87 0 0 0-.95-1.62c-.24-.2-.52-.36-.82-.48a2.64 2.64 0 0 0-1.95.01 2.71 2.71 0 0 0-1.75 2.1z')
                                    path#hxvxp(d='M1488.19 3120.65c-.37-.32-.8-.62-1.3-.87a3.37 3.37 0 0 0-1.6-.38 3.9 3.9 0 0 0-2.81 1.17 3.94 3.94 0 0 0-1.15 2.83 3.94 3.94 0 0 0 2.44 3.66c.49.2 1 .3 1.55.3a3.83 3.83 0 0 0 2.9-1.27.5.5 0 0 1 .2-.14.59.59 0 0 1 .24-.04c.13 0 .24.04.3.14.07.09.1.2.1.3 0 .17-.04.3-.14.4a4.8 4.8 0 0 1-3.6 1.57 4.95 4.95 0 0 1-4.57-6.83 5.03 5.03 0 0 1 2.61-2.64 4.77 4.77 0 0 1 3.87 0c.6.28 1.13.64 1.6 1.1.05.06.1.13.13.2.05.1.07.17.07.25 0 .14-.04.25-.14.31a.5.5 0 0 1-.33.11.57.57 0 0 1-.37-.17zm5.14.15c.49 0 .97.1 1.42.3a4.04 4.04 0 0 1 2.01 2 3.53 3.53 0 0 1 .01 2.88 3.85 3.85 0 0 1-1.98 2c-.46.19-.95.29-1.47.29a3.79 3.79 0 0 1-2.65-1.05 3.6 3.6 0 0 1-1.1-2.67 3.78 3.78 0 0 1 1.07-2.63 3.77 3.77 0 0 1 2.69-1.12zm-.03.97a2.78 2.78 0 0 0-1.96 4.76 2.78 2.78 0 0 0 3.95 0 2.77 2.77 0 0 0 0-3.94 2.87 2.87 0 0 0-1.99-.82zm5.03-.87c.1-.1.21-.15.34-.15.13 0 .25.05.34.15.1.1.14.2.14.33v.77c.33-.36.73-.66 1.2-.9a3.4 3.4 0 0 1 1.51-.35c.17 0 .3.05.4.15a.47.47 0 0 1 0 .67c-.1.1-.22.15-.39.15-.37 0-.72.07-1.04.21-.31.15-.6.34-.84.6a3.3 3.3 0 0 0-.59.85c-.15.31-.23.65-.24 1l.01 3.43c0 .13-.04.25-.14.34-.08.1-.2.14-.34.14a.44.44 0 0 1-.33-.14.44.44 0 0 1-.15-.34l-.02-6.58c0-.13.05-.25.14-.33zm5.1 4.1a2.71 2.71 0 0 0 .94 1.64 2.66 2.66 0 0 0 1.81.67 2.87 2.87 0 0 0 1.96-.79c.09-.1.2-.14.34-.14.13 0 .25.04.34.14.1.1.14.2.14.34 0 .13-.04.25-.14.34a2.9 2.9 0 0 1-1.16.82c-.44.16-.92.24-1.49.24a3.78 3.78 0 0 1-2.64-1.05 3.6 3.6 0 0 1-1.1-2.67 3.78 3.78 0 0 1 1.07-2.63 4 4 0 0 1 2.69-1.15 3.83 3.83 0 0 1 3.42 2.28c.2.46.31.94.31 1.46 0 .15-.05.27-.15.36-.1.09-.21.12-.33.12zm5.49-.98a2.87 2.87 0 0 0-.95-1.62c-.24-.2-.52-.36-.82-.48a2.64 2.64 0 0 0-1.95.01 2.71 2.71 0 0 0-1.75 2.1z')
                                    clippath#hxvxc
                                        use(xlink:href='#hxvxa')
                                    clippath#hxvxe
                                        use(xlink:href='#hxvxb')
                                g
                                    g(transform='translate(-1440 -3109)')
                                        g
                                            g
                                            g(clip-path='url(#hxvxc)')
                                                use(fill='#8628b9', xlink:href='#hxvxd')
                                        g
                                            g
                                            g(clip-path='url(#hxvxe)')
                                                use(fill='#752994', xlink:href='#hxvxf')
                                        g
                                            use(fill='#ffd000', xlink:href='#hxvxg')
                                        g
                                            use(fill='#fbb400', xlink:href='#hxvxh')
                                        g
                                            use(fill='#fff', xlink:href='#hxvxi')
                                        g
                                            use(xlink:href='#hxvxj')
                                        g
                                            use(fill='#4a1473', xlink:href='#hxvxk')
                                        g
                                            use(fill='#fff', xlink:href='#hxvxl')
                                        g
                                            use(fill='#4a1473', xlink:href='#hxvxm')
                                        g
                                            use(fill='#fff', fill-opacity='0', stroke='#fff', stroke-miterlimit='50', stroke-width='.5', xlink:href='#hxvxn')
                                        g
                                            use(fill='#4a1473', xlink:href='#hxvxo')
                                        g
                                            use(fill='#fff', fill-opacity='0', stroke='#fff', stroke-miterlimit='50', xlink:href='#hxvxp')
                    li
                        a(href='http://www.vtex.com', target='_blank')
                            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='70', height='26', viewBox='0 0 70 26')
                                defs
                                    path#3mp8a(d='M1440 3154.21h29.73v25.42H1440z')
                                    path#3mp8d(d='M1467.5 3154.21h-22.2a2.28 2.28 0 0 0-2.01 3.35l2.22 4.2h-4.03a1.48 1.48 0 0 0-1.3 2.18l7.13 13.52a1.48 1.48 0 0 0 2.62 0l1.94-3.66 2.43 4.61a2.28 2.28 0 0 0 4.04 0l11.13-20.93a2.22 2.22 0 0 0-1.97-3.27m-9.98 8.95l-4.8 9.03a.98.98 0 0 1-1.73 0l-4.75-9a.99.99 0 0 1 .87-1.44h9.57a.96.96 0 0 1 .84 1.4')
                                    path#3mp8e(d='M1491.11 3163.93h-2.43v8.32c0 .16-.12.28-.28.29h-1.87a.29.29 0 0 1-.3-.3v-8.31h-2.43a.28.28 0 0 1-.29-.27v-1.48a.27.27 0 0 1 .29-.27h7.31c.16 0 .3.11.3.27v1.47c0 .16-.14.28-.3.28')
                                    path#3mp8f(d='M1498.91 3172.48c-.5.07-1.34.18-2.89.18-1.84 0-3.47-.47-3.47-3.07v-4.75c0-2.6 1.64-3.06 3.49-3.06 1.54 0 2.37.11 2.87.19.2.02.29.1.29.28v1.33c0 .16-.13.29-.29.29h-3.01c-.68 0-.92.23-.92.97v1.3h3.82c.15 0 .28.13.28.29v1.36c0 .16-.13.28-.28.28h-3.82v1.52c0 .74.24.97.92.97h3.01c.16 0 .29.13.29.29v1.33c0 .18-.09.27-.29.3')
                                    path#3mp8b(d='M1500.58 3161.91h9.3v10.63h-9.3z')
                                    path#3mp8h(d='M1509.7 3172.53h-2.27c-.19 0-.28-.06-.38-.21l-1.97-3.13-1.78 3.06c-.1.17-.2.29-.36.29h-2.11c-.15 0-.22-.09-.22-.19 0-.03.01-.07.03-.1l3.1-5.16-3.13-4.9a.2.2 0 0 1-.03-.1c.01-.1.1-.18.21-.18h2.3c.16 0 .28.14.36.27l1.83 2.89 1.77-2.89c.07-.13.2-.27.36-.27h2.11c.11 0 .2.08.22.19a.2.2 0 0 1-.03.08l-3.12 4.94 3.25 5.13c.03.04.04.1.04.14 0 .09-.07.14-.18.14')
                                    path#3mp8i(d='M1480.09 3161.94c-.1 0-.2.08-.22.18l-2.07 7.68c-.03.16-.07.21-.2.21s-.17-.05-.2-.21l-2.08-7.68a.22.22 0 0 0-.22-.18h-2.04a.22.22 0 0 0-.21.27l2.56 8.9c.34 1.05 1.16 1.55 2.2 1.55 1 0 1.87-.53 2.2-1.55.05-.12 2.52-8.9 2.52-8.9a.22.22 0 0 0-.21-.27z')
                                    clippath#3mp8c
                                        use(xlink:href='#3mp8a')
                                    clippath#3mp8g
                                        use(xlink:href='#3mp8b')
                                    clippath#3mp8j
                                        use(xlink:href='#3mp8a')
                                g
                                    g(transform='translate(-1440 -3154)')
                                        g
                                            g
                                            g(clip-path='url(#3mp8c)')
                                                use(fill='#f71963', xlink:href='#3mp8d')
                                        g
                                            use(fill='#f71963', xlink:href='#3mp8e')
                                        g
                                            use(fill='#f71963', xlink:href='#3mp8f')
                                        g
                                            g
                                            g(clip-path='url(#3mp8g)')
                                                use(fill='#f71963', xlink:href='#3mp8h')
                                        g
                                            use(fill='#f71963', xlink:href='#3mp8i')
                                        g
                                            g
                                            g(clip-path='url(#3mp8j)')
                                                use(fill='#f71963', xlink:href='#3mp8d')
