ul.menu.menu--desktop
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/masculino") Masculino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/masculino/Novidades?O=OrderByNameASC") Lançamentos
						li.menu__item
							a.menu__link(href="/busca/?fq=H:140&title=Fitness") Fitness
						li.menu__item
							a.menu__link(href="/busca/?fq=H:141&title=Lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/busca/?fq=H:142&title=Outdoor") Outdoor
						li.menu__item
							a.menu__link(href="/busca/?fq=H:143&title=Treino de Tiro") Treino de Tiro
						li.menu__item
							a.menu__link(href="/busca/?fq=H:144&title=Profissional") Profissional
						li.menu__item
							a.menu__link(href="/masculino/sale?O=OrderByNameASC") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Calcas?O=OrderByNameASC") Calças
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Agasalhos?O=OrderByNameASC") Agasalhos
						a.menu__link(href="/masculino/Vestuario/Agasalhos/Jaquetas-e-Casacos?O=OrderByNameASC") Jaquetas &amp; Parkas
						a.menu__link(href="/masculino/Vestuario/Agasalhos/Moletons?O=OrderByNameASC") Blusões &amp; Moletons
						a.menu__link(href="/masculino/Vestuario/Agasalhos/Blusas-Taticas?O=OrderByNameASC") Blusas Taticas
					.menu__box
						//- a.menu__title(href="/Bolsas-e-Mochilas?fq=specificationFilter_168:Maschulino") Bolsas &amp; Mochilas
						//- a.menu__link(href="/Bolsas-e-Mochilas/Bolsa-de-mão?fq=specificationFilter_168:Masculino") Bolsas de mão
						//- a.menu__link(href="/Bolsas-e-Mochilas/Mochilas?fq=specificationFilter_168:Masculino") Mochilas
						a.menu__title(href="/Bolsas-e-Mochilas?O=OrderByNameASC") Bolsas &amp; Mochilas
						a.menu__link(href="/Bolsas-e-Mochilas/Bolsa-de-mão?O=OrderByNameASC") Bolsas modular
						a.menu__link(href="/Bolsas-e-Mochilas/Mochilas?O=OrderByNameASC") Mochilas
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Camisas?O=OrderByNameASC") Camisas
						a.menu__link(href="/masculino/Vestuario/Camisas/camisas-de-botao?O=OrderByNameASC") Camisas de botão
						a.menu__link(href="/masculino/Vestuario/Camisas/Camisas-e-Polos?O=OrderByNameASC") Camisas e Polos
						a.menu__link(href="/masculino/Vestuario/Camisas/camisetas-e-regatas?O=OrderByNameASC") Camisetas e regatas
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Shorts?O=OrderByNameASC") Shorts
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Coletes?O=OrderByNameASC") Coletes
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Cuecas-e-Meias?O=OrderByNameASC") Cuecas e Meias
					.menu__box
						//- a.menu__title(href="/Calçados?fq=specificationFilter_167:Masculino?O=OrderByNameASC") Calçados
						a.menu__title(href="/busca/?fq=C:11&fq=specificationFilter_167:Masculino&O=OrderByNameASC") Calçados
						a.menu__link(href="/busca/?fq=C:11/56&fq=specificationFilter_167:Masculino&O=OrderByNameASC") Botas
						a.menu__link(href="/busca/?fq=C:11/58&fq=specificationFilter_167:Masculino&O=OrderByNameASC") Sapatos
						a.menu__link(href="/busca/?fq=C:11/57&fq=specificationFilter_167:Masculino&O=OrderByNameASC") Tênis
				.menu__column
					a.menu__link.menu--highlight(href="/masculino?O=OrderByNameASC") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Feminino?O=OrderByNameASC") Feminino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/feminino/Novidades?O=OrderByNameASC") Lançamentos
						li.menu__item
							a.menu__link(href="/busca/?fq=H:149&title=Fitness") Fitness
						li.menu__item
							a.menu__link(href="/busca/?fq=H:150&title=Lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/busca/?fq=H:151&title=Outdoor") Outdoor
						li.menu__item
							a.menu__link(href="/busca/?fq=H:152&title=Treino de Tiro") Treino de Tiro
						li.menu__item
							a.menu__link(href="/busca/?fq=H:153&title=Profissional") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale?O=OrderByNameASC") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Calcas?O=OrderByNameASC") Calças
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Agasalhos?O=OrderByNameASC") Agasalhos
						a.menu__link(href="/feminino/Vestuario/Agasalhos/Jaquetas-e-Casacos?O=OrderByNameASC") Jaquetas &amp; Parkas
						a.menu__link(href="/feminino/Vestuario/Agasalhos/Moletons?O=OrderByNameASC") Blusões &amp; Moletons
						a.menu__link(href="/feminino/Vestuario/Agasalhos/Blusas-Taticas?O=OrderByNameASC") Blusas Taticas
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas?O=OrderByNameASC") Bolsas &amp; Mochilas
						a.menu__link(href="/Bolsas-e-Mochilas/Bolsa-de-mão?O=OrderByNameASC") Bolsas modular
						a.menu__link(href="/Bolsas-e-Mochilas/Mochilas?O=OrderByNameASC") Mochilas					
						//- a.menu__title(href="/Bolsas-e-Mochilas?fq=specificationFilter_168:Feminino?O=OrderByNameASC") Bolsas &amp; Mochilas
						//- a.menu__link(href="/Bolsas-e-Mochilas/Bolsa-de-mão?fq=specificationFilter_168:Feminino?O=OrderByNameASC") Bolsas de mão
						//- a.menu__link(href="/Bolsas-e-Mochilas/Mochilas?fq=specificationFilter_168:Feminino?O=OrderByNameASC") Mochilas
					.menu__box
						a.menu__title(href="/Feminino/Vestuario/Camisas?O=OrderByNameASC") Camisas
						a.menu__link(href="/Feminino/Vestuario/Camisas/Camisas-de-botão?O=OrderByNameASC") Camisas de botão
						a.menu__link(href="/Feminino/Vestuario/Camisas/Camisas-e-Polos?O=OrderByNameASC") Camisas e Polos
						a.menu__link(href="/Feminino/Vestuario/Camisas/Camisetas-e-Regatas?O=OrderByNameASC") Camisetas e regatas
					.menu__box
						a.menu__title(href="/Feminino/Vestuario/Shorts?O=OrderByNameASC") Shorts
					.menu__box
						a.menu__title(href="/Feminino/Vestuario/Meias?O=OrderByNameASC") Meias
					.menu__box
						//- a.menu__title(href="/Calçados?fq=specificationFilter_167:Feminino?O=OrderByNameASC") Calçados
						a.menu__title(href="/busca/?fq=C:11&fq=specificationFilter_167:Feminino&O=OrderByNameASC") Calçados
						a.menu__link(href="/busca/?fq=C:11/56&fq=specificationFilter_167:Feminino&O=OrderByNameASC") Botas
						a.menu__link(href="/busca/?fq=C:11/58&fq=specificationFilter_167:Feminino&O=OrderByNameASC") Sapatos
						a.menu__link(href="/busca/?fq=C:11/57&fq=specificationFilter_167:Feminino&O=OrderByNameASC") Tênis
				.menu__column
					a.menu__link.menu--highlight(href="/feminino?O=OrderByNameASC") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Calçados?O=OrderByNameASC") Calçados
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/Calçados?O=OrderByReleaseDateDESC") Lançamentos
						li.menu__item
							a.menu__link(href="/busca/?fq=H:156&title=Fitness") Fitness
						li.menu__item
							a.menu__link(href="/busca/?fq=H:157&title=Lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/busca/?fq=H:158&title=Outdoor") Outdoor
						li.menu__item
							a.menu__link(href="/busca/?fq=H:159&title=Treino de Tiro") Treino de Tiro
						li.menu__item
							a.menu__link(href="/busca/?fq=H:160&title=Profissional") Profissional
						li.menu__item
							a.menu__link(href="/busca/?fq=H:161&title=Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/Calçados/Botas?O=OrderByNameASC") Botas
					.menu__box
						a.menu__title(href="/Calçados/Sapatos?O=OrderByNameASC") Sapatos
					.menu__box
						a.menu__title(href="/Calçados/Tênis?O=OrderByNameASC") tênis
				.menu__column
					a.menu__link.menu--highlight(href="/Calçados?O=OrderByNameASC") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Bolsas-e-Mochilas?O=OrderByNameASC") Mochilas
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/Bolsas-e-Mochilas/Novidades?O=OrderByNameASC") Lançamentos
						li.menu__item
							a.menu__link(href="/busca/?fq=H:163&title=Fitness") Fitness
						li.menu__item
							a.menu__link(href="/busca/?fq=H:164&title=Lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/busca/?fq=H:165&title=Outdoor") Outdoor
						li.menu__item
							a.menu__link(href="/busca/?fq=H:166&title=Treino de Tiro") Treino de Tiro
						li.menu__item
							a.menu__link(href="/busca/?fq=H:167&title=Profissional") Profissional
						li.menu__item
							a.menu__link(href="/Bolsas-e-Mochilas/Sale?O=OrderByNameASC") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Bolso-Modular?O=OrderByNameASC") Bolsos Modular
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Bolsa-de-ombro?O=OrderByNameASC") Bolsa de Ombro
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Malas?O=OrderByNameASC") Malas
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Mochila-Transversal?O=OrderByNameASC") Mochila Transversal
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Mochilas?O=OrderByNameASC") Mochilas
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Armazenamento-para-Armas-e-Munição?O=OrderByNameASC")  Armazenamento para Armas e Munição
				.menu__column
					a.menu__link.menu--highlight(href="/Bolsas-e-Mochilas?O=OrderByNameASC") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Acessórios?O=OrderByNameASC") Acessórios
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/Acessórios/Novidades?O=OrderByNameASC") Lançamentos
						li.menu__item
							a.menu__link(href="/busca/?fq=H:170&title=Fitness") Fitness
						li.menu__item
							a.menu__link(href="/busca/?fq=H:171&title=Lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/busca/?fq=H:172&title=Outdoor") Outdoor
						li.menu__item
							a.menu__link(href="/busca/?fq=H:173&title=Treino de Tiro") Treino de Tiro
						li.menu__item
							a.menu__link(href="/busca/?fq=H:174&title=Profissional") Profissional
						li.menu__item
							a.menu__link(href="/Acessórios/Sale?O=OrderByNameASC") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/Acessórios/Bandoleiras?O=OrderByNameASC") Bandoleiras
					.menu__box
						a.menu__title(href="/Acessórios/Cachecol?O=OrderByNameASC") Cachecol
					.menu__box
						a.menu__title(href="/Acessórios/Carteiras?O=OrderByNameASC") Carteiras
					.menu__box
						a.menu__title(href="/Acessórios/Chapéus,-Bonés-e-toucas?O=OrderByNameASC") Chapeus, Bonés e Toucas
					.menu__box
						a.menu__title(href="/Acessórios/Cintos?O=OrderByNameASC") Cintos
					.menu__box
						a.menu__title(href="/Acessórios/Coldres?O=OrderByNameASC") Coldres
					.menu__box
						a.menu__title(href="/Acessórios/Facas?O=OrderByNameASC") Facas
					.menu__box
						a.menu__title(href="/Acessórios/Ferramentas?O=OrderByNameASC") Ferramentas
					.menu__box
						a.menu__title(href="/Acessórios/Lanternas?O=OrderByNameASC") Lanternas
					.menu__box
						a.menu__title(href="/Acessórios/Luvas?O=OrderByNameASC") Luvas
					.menu__box
						a.menu__title(href="/Acessórios/Óculos?O=OrderByNameASC") Óculos
					.menu__box
						a.menu__title(href="/Acessórios/Pacth?O=OrderByNameASC") Pacth
				.menu__column
					a.menu__link.menu--highlight(href="/Acessórios?O=OrderByNameASC") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/busca/?fq=C:5&ft=Uso Profissional") Uso Profissional
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/busca/?fq=C:5/36&title=Lançamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/busca/?fq=H:177&title=Fitness") Fitness
						li.menu__item
							a.menu__link(href="/busca/?fq=H:178&title=Lifestyle") Lifestyle
						li.menu__item
							a.menu__link(href="/busca/?fq=H:179&title=Outdoor") Outdoor
						li.menu__item
							a.menu__link(href="/busca/?fq=H:180&title=Treino de Tiro") Treino de Tiro
						li.menu__item
							a.menu__link(href="/busca/?fq=H:176&title=Profissional") Profissional
						li.menu__item
							a.menu__link(href="/busca/?fq=C:5/37") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/busca/?fq=C:5/35&ft=Bombeiros") Bombeiros
						a.menu__link(href="/busca/?fq=C:5/59&ft=Botas") Botas
						a.menu__link(href="/busca/?fq=C:5/60&ft=Uniformes") Uniformes
					.menu__box
						a.menu__title(href="/busca/?fq=C:34/35&ft=Policiais") Policiais
						a.menu__link(href="/busca/?fq=C:61/35&ft=Botas") Botas
						a.menu__link(href="/busca/?fq=C:62/35&ft=Uniformes") Uniformes
				.menu__column
					a.menu__link.menu--highlight(href="/busca/?fq=C:5&ft=Uso Profissional") Ver Tudo

