ul.menu.menu--desktop
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/masculino") Masculino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/masculino/novidades") Lançamentos
						li.menu__item
							a.menu__link(href="/busca?fq=H:140") Fitness
						li.menu__item
							a.menu__link(href="/busca?fq=H:141") Lifestyle
						li.menu__item
							a.menu__link(href="/busca?fq=H:142") Exterior
						li.menu__item
							a.menu__link(href="/busca?fq=H:143") Campo
						li.menu__item
							a.menu__link(href="/busca?fq=H:144") Profissional
						li.menu__item
							a.menu__link(href="/masculino/sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Calcas") Calças
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Agasalhos") Agasalhos
						a.menu__link(href="/masculino/Vestuario/Agasalhos/Jaquetas-e-Casacos") Jaquetas &amp; Parkas
						a.menu__link(href="/masculino/Vestuario/Agasalhos/Moletons") Blusões &amp; Moletons
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas") Bolsas &amp; Mochilas
						a.menu__link(href="/Bolsas-e-Mochilas/Bolsa-de-mão?map=specificationFilter_168:Masculino") Bolsas de mão
						a.menu__link(href="/Bolsas-e-Mochilas/Mochilas?map=specificationFilter_168:Masculino") Mochilas
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Camisas") Camisas
						a.menu__link(href="/masculino/Vestuario/camisas-de-botao") Camisas de botão
						a.menu__link(href="/masculino/Vestuario/Camisas-e-Polos") Polos
						a.menu__link(href="/masculino/Vestuario/camisetas-e-regatas") Camisetas e regatas
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Shorts") Shorts
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Coletes") Coletes
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Cuecas-e-Meias") Cuecas e Meias
					.menu__box
						a.menu__title(href="/Calçados?map=specificationFilter_168:Masculino") Calçados
				.menu__column
					a.menu__link.menu--highlight(href="/masculino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Feminino") Feminino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/feminino/lancamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/busca?fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/busca?fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/busca?fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/busca?fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/busca?fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Calcas") Calças
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Agasalhos") Agasalhos
						a.menu__link(href="/feminino/Vestuario/Agasalhos/Jaquetas-e-Casacos") Jaquetas &amp; Parkas
						a.menu__link(href="/feminino/Vestuario/Agasalhos/Moletons") Blusões &amp; Moletons
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas") Bolsas &amp; Mochilas
						a.menu__link(href="/Bolsas-e-Mochilas/Bolsa-de-mão?map=specificationFilter_168:Feminino") Bolsas de mão
						a.menu__link(href="/Bolsas-e-Mochilas/Mochilas?map=specificationFilter_168:Feminino") Mochilas
					.menu__box
						a.menu__title(href="/Feminino/Vestuario/Camisas") Tops
						a.menu__link(href="/Feminino/Vestuario/Camisas/Camisas-de-botão") Camisas de botão
						a.menu__link(href="/Feminino/Vestuario/Camisas/Camisas-e-Polos") Polos
						a.menu__link(href="/Feminino/Vestuario/Camisas/Camisetas-e-Regatas") Camisetas e regatas
					.menu__box
						a.menu__title(href="/Feminino/Vestuario/Shorts") Shorts
					.menu__box
						a.menu__title(href="/Feminino/Vestuario/Meias") Meias
					.menu__box
						a.menu__title(href="/Calçados?map=specificationFilter_168:Feminino") Calçados
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Calçados") Calçados
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/busca?fq=H:155") Lançamentos
						li.menu__item
							a.menu__link(href="/busca?fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/busca?fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/busca?fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/busca?fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/busca?fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/Calçados/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/Calçados/Botas") Botas
					.menu__box
						a.menu__title(href="/Calçados/Sapatos") Sapatos
					.menu__box
						a.menu__title(href="/Calçados/Tênis") tênis
				.menu__column
					a.menu__link.menu--highlight(href="/Calçados") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Bolsas-e-Mochilas") Mochilas
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/Bolsas-e-Mochilas/Novidades") Lançamentos
						li.menu__item
							a.menu__link(href="/busca?fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/busca?fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/busca?fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/busca?fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/busca?fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Bolsa-de-mão") Bolsa de mão
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Bolsa-de-ombro") Bolsa de Ombro
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Malas") Malas
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Mochila-Transversal") Mochila Transversal
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Mochilas") Mochilas
					.menu__box
						a.menu__title(href="/Bolsas-e-Mochilas/Munição-e-Armas") Munição e Armas
				.menu__column
					a.menu__link.menu--highlight(href="/Bolsas-e-Mochilas") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Acessórios") Acessórios
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/Acessórios/Novidades") Lançamentos
						li.menu__item
							a.menu__link(href="/busca?fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/busca?fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/busca?fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/busca?fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/busca?fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/Acessórios/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/Acessórios/Bandoleiras") Bandoleiras
					.menu__box
						a.menu__title(href="/Acessórios/Cachecol") Cachecol
					.menu__box
						a.menu__title(href="/Acessórios/Carteiras") Carteiras
					.menu__box
						a.menu__title(href="/Acessórios/Chapéus,-Bonés-e-toucas") Chapeus, Bonés e Toucas
					.menu__box
						a.menu__title(href="/Acessórios/Cintos") Cintos
					.menu__box
						a.menu__title(href="/Acessórios/Coldres") Coldres
					.menu__box
						a.menu__title(href="/Acessórios/Ferramentas") Ferramentas
					.menu__box
						a.menu__title(href="/Acessórios/Lanternas") Lanternas
					.menu__box
						a.menu__title(href="/Acessórios/Luvas") Luvas
					.menu__box
						a.menu__title(href="/Acessórios/Óculos") Óculos
					.menu__box
						a.menu__title(href="/Acessórios/Pacth") Pacth
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Profissional") Uso Profissional
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/Profissional/Novidades") Lançamentos
						li.menu__item
							a.menu__link(href="/busca?fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/busca?fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/busca?fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/busca?fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/busca?fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/Profissional/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/Profissional/Bombeiros") Bombeiros
						a.menu__link(href="/Profissional/Bombeiros/Botas") Botas
						a.menu__link(href="/Profissional/Bombeiros/Uniformes") Uniformes
					.menu__box
						a.menu__title(href="/Profissional/Policiais") Policiais
						a.menu__link(href="/Profissional/Botas") Botas
						a.menu__link(href="/Profissional/Uniformes") Uniformes
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo

