ul.menu.menu--desktop
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/masculino") Masculino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/masculino/novidades") Lançamentos
						li.menu__item
							a.menu__link(href="/fq=H:140") Fitness
						li.menu__item
							a.menu__link(href="/fq=H:141") Lifestyle
						li.menu__item
							a.menu__link(href="/fq=H:142") Exterior
						li.menu__item
							a.menu__link(href="/fq=H:143") Campo
						li.menu__item
							a.menu__link(href="/fq=H:144") Profissional
						li.menu__item
							a.menu__link(href="/masculino/sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Calcas") Calças
					.menu__box
						a.menu__title(href="/masculino/agasalhos") Agasalhos
						a.menu__link(href="/masculino/Vestuario/Jaquetas-e-Casacos") Jaquetas &amp; Parkas
						a.menu__link(href="/masculino/Vestuario/Moletons") Blusões &amp; Moletons
					.menu__box
						a.menu__title(href="/masculino/bolsas-e-mochilas") Bolsas &amp; Mochilas
						a.menu__link(href="/masculino/bolsas-e-mochilas/bolsas-de-mao") Bolsas de mão
						a.menu__link(href="/masculino/bolsas-e-mochilas/Mochilas") Mochilas
					.menu__box
						a.menu__title(href="/masculino/tops") Tops
						a.menu__link(href="/masculino/Vestuario/camisas-de-botao") Camisas de botão
						a.menu__link(href="/masculino/Vestuario/Camisas-e-Polos") Polos
						a.menu__link(href="/masculino/Vestuario/camisetas-e-regatas") Camisetas e regatas
					.menu__box
						a.menu__title(href="/masculino/Vestuario/Bermudas") Shorts
					.menu__box
						a.menu__title(href="/masculino/Calcados") Calçados
				.menu__column
					a.menu__link.menu--highlight(href="/masculino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/feminino") Feminino
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/feminino/lancamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Calcas") Calças
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Jaquetas-e-Casacos") Agasalhos
						a.menu__link(href="/feminino/Vestuario/Jaquetas-e-Casacos") Jaquetas &amp; Parkas
						a.menu__link(href="/feminino/Vestuario/Moletons") Blusões &amp; Moletons
					.menu__box
						a.menu__title(href="/feminino/bolsas-e-mochilas") Bolsas &amp; Mochilas
						a.menu__link(href="/feminino/bolsas-e-mochila/Bolsa-de-mao") Bolsas de mão
						a.menu__link(href="/feminino/bolsas-e-mochila/Mochilas") Mochilas
					.menu__box
						a.menu__title(href="/feminino/tops") Tops
						a.menu__link(href="/feminino/Vestuario/camisas-de-botao") Camisas de botão
						a.menu__link(href="/feminino/Vestuario/Camisas-e-Polos") Polos
						a.menu__link(href="/feminino/Vestuario/camisetas-e-regatas") Camisetas e regatas
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Shorts-e-Bermudas") Shorts
					.menu__box
						a.menu__title(href="/feminino/calcados") Calçados
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/fq=H:161") Calçados
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/fq=H:155") Lançamentos
						li.menu__item
							a.menu__link(href="/fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Calcas") Botas
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Jaquetas-e-Casacos") Sapatos
					.menu__box
						a.menu__title(href="/feminino/bolsas-e-mochilas") tênis
					.menu__box
						a.menu__title(href="/feminino/calcados") Calçados
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Bolsas-e-Mochilas/Mochilas") Mochilas
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/feminino/lancamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Calcas") Bolsa de mão
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Jaquetas-e-Casacos") Bolsa de Ombro
					.menu__box
						a.menu__title(href="/feminino/bolsas-e-mochilas") Malas
					.menu__box
						a.menu__title(href="/feminino/calcados") Mochila Transversal
					.menu__box
						a.menu__title(href="/feminino/calcados") Mochilas
					.menu__box
						a.menu__title(href="/feminino/calcados") Munição e Armas
					.menu__box
						a.menu__title(href="/feminino/calcados") Novidades
					.menu__box
						a.menu__title(href="/feminino/calcados") Sale
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/acessorios") Acessórios
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/feminino/lancamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Calcas") Bandoleiras
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Jaquetas-e-Casacos") Cachecol
					.menu__box
						a.menu__title(href="/feminino/bolsas-e-mochilas") Carteiras
					.menu__box
						a.menu__title(href="/feminino/calcados") Chapeus, Bonés e Toucas
					.menu__box
						a.menu__title(href="/feminino/calcados") Cintos
					.menu__box
						a.menu__title(href="/feminino/calcados") Coldres
					.menu__box
						a.menu__title(href="/feminino/calcados") Ferramentas
					.menu__box
						a.menu__title(href="/feminino/calcados") Lanternas
					.menu__box
						a.menu__title(href="/feminino/calcados") Luvas
					.menu__box
						a.menu__title(href="/feminino/calcados") Novidades
					.menu__box
						a.menu__title(href="/feminino/calcados") Óculos
					.menu__box
						a.menu__title(href="/feminino/calcados") Pacth
					.menu__box
						a.menu__title(href="/feminino/calcados") Sale
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo
	li.menu__item.menu__item--dropdown
		a.menu__link(href="/Profissional") Uso Profissional
		.menu__submenu
			.menu__inner
				.menu__column
					ul.menu
						li.menu__item
							a.menu__link(href="/feminino/lancamentos") Lançamentos
						li.menu__item
							a.menu__link(href="/fq=H:149") Fitness
						li.menu__item
							a.menu__link(href="/fq=H:150") Lifestyle
						li.menu__item
							a.menu__link(href="/fq=H:151") Exterior
						li.menu__item
							a.menu__link(href="/fq=H:152") Campo
						li.menu__item
							a.menu__link(href="/fq=H:153") Profissional
						li.menu__item
							a.menu__link(href="/feminino/Sale") Sale
				.menu__column.menu__column--box
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Calcas") Bombeiros
						a.menu__link(href="/feminino/Vestuario/Moletons") Botas
						a.menu__link(href="/feminino/Vestuario/Moletons") Uniformes
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Jaquetas-e-Casacos") Policiais
						a.menu__link(href="/feminino/Vestuario/Moletons") Botas
						a.menu__link(href="/feminino/Vestuario/Moletons") Uniformes
					.menu__box
						a.menu__title(href="/feminino/Vestuario/Jaquetas-e-Casacos") Sale
				.menu__column
					a.menu__link.menu--highlight(href="/feminino") Ver Tudo

