body {
	@extend %font-family-primary;
}

a {
	@extend %color-primary;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

// a:hover {
// 	color: #0056b3;
// 	text-decoration: underline;
// }

a.button {
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

ul {
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	max-width: $page-container;
	margin: 0 auto;
}

#ajaxBusy {
	display: none !important;
}
.sp {
	width: 30px;
	height: 30px;
	clear: both;
	margin: 20px auto;
}

.sp-circle {
	border: 4px rgba($c-orange, 0.25) solid;
	border-top: 4px rgba($c-orange, 1) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

body.login {
	.iframe--home {
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
}
