body.institucional {
	&.lojas {
		.titleLojas {
			padding: 50px 0 10px;
			h3 i {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.contentLojas {
			ul {
				margin-bottom: 50px;
				li {
					display: inline-block;
					width: 210px;
					margin-right: 80px;
					a {
						text-decoration: underline;
						font-size: 14px;
						color: #e95500;
						&:hover {
							color: #e95500;
						}
					}
					p {
						font-size: 15px;
					}
				}
			}
			.estado h4 {
				width: 100%;
				text-align: center;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				padding: 15px;
				font-size: 20px;
				font-weight: 400;
				margin-bottom: 50px;
			}
		}
	}
	.bread-crumb {
		display: none;
		@include atMedium {
			display: block;
		}
	}
	.section__institutional {
		margin: 50px 0;
		.columns {
			display: grid;
			grid-gap: 40px;
			@include atMedium {
				grid-template-columns: 0.2fr 1fr;
			}
		}

		&__sidebar {
			&__title {
				margin: 0;
				font-size: 20px;
				color: #e75300;
				font-weight: 800;
				margin-bottom: 10px;
				text-transform: uppercase;
				color: #e75300;
				@extend %font-family-unitedsans;
			}

			&__list {
				list-style: none;
				&__item {
					&__link {
						text-decoration: none;
						font-size: 15px;
						color: #6a6157;
						font-weight: 400;
						line-height: 30px;
						font-family: Roboto;
						&:hover {
							font-weight: 700;
						}
					}
				}
			}
		}

		.institutional__content {
			&__text {
				h3 {
					color: #e75300;
					@extend %font-family-unitedsans;
					font-size: 30px;
					font-weight: 800;
					margin: 0;
					margin-bottom: 22px;
				}
				p {
					color: #372527;
					@extend %font-family-roboto;
					font-size: 14px;
					font-weight: 400;
					line-height: 25px;
					margin-bottom: 30px;
					margin-top: 0;
				}
				li {
					color: #372527;
					@extend %font-family-roboto;
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
	}
}
