.product {
    .section__page {
        margin: 0;
    }

	&__table {
		padding: 0 0 30px;
		a {
			@extend %font-family-unitedsans;
			padding: 0;
			text-transform: uppercase;
			@include font-size(14px);
			font-weight: 800;
            &:hover{
                text-decoration: none;
				color: #e95500;

            }
		}
	}

    .modal-window {
        > div {
            width: 100%;
            max-width: 1200px;
        }
    }

    .section__product-bottom, .section__shelf {
        max-width: 600px;
    }

    .section__shelf {
		padding: 20px 10px 0;

        .prateleira > h2 {
            @extend %display-none;
		}

		margin-bottom: 20px;
    }

    .section__shelf .section__title {
        @extend %flex-justify-content-flex-start;
    }

    .sku-selector-container {
        @extend %display-none;
    }
}
