.who-us {
	.banner {
		&--who-us {
			&-main, &-banner {
				@extend %position-relative;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				.box-banner {
					opacity: 0;
				}

			}
		}
	}

}
